@media (min-width: 0px) and (max-width: 767px) {
    /* HOME*/
    .main-banner__title.main-banner__title--home{
        width: 75%;
    }
    html{
        margin-top: 0px !important;
    }
    html #wpadminbar{
        position: fixed;
    }
    .title-nivel2--line{
        font-size: 2rem;
    }
    .text-price-projects{
        font-size: 20px;
    }
    .details-video__body{
        padding-right: 0px;
    }
    .main-brand button.openMenu{
        position: absolute;
        right: 10px;
        top: -20px;    
    }
    .nav-item{
        padding-top: 15px;
    }
    .main-proyectos__card{
        padding-left: 20px;
    }
    .main-banner__palabra {
        right: 0;
        top: 385px;
    }
    .main-brand {
    margin-left: 0px;
    }
    .main-details__icono--content.lines {
    position: initial;
    }

    .main-welcome{
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .main-about__title{
        padding-top: 60px;
    }
    .main-enlaces__redes {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .main-banner .mask .main-banner__palabra p {
        font-size: 75px;
    }

    .main-banner .mask .main-banner__text .main-banner__title p {
        font-size: 40px;
    }
    .text-inversion__center p{
        width: 100%;
    }

    .main-banner__title {
        width: 100%;
        display: flex;
        /* justify-content: center; */
    }

    .main-banner .mask .main-banner__text {
        width: 100%;
    }
    .main-banner .mask .main-banner__text{
        padding-left: 0px;
    }
    .main-video {
        /* margin-bottom: 100px; */
    }

    .main-proyectos__grid {
        padding-bottom: 0;
    }

    .title-welcome {
        padding: 1.5rem;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    .main-about__title{
        padding: 10px;
    }
    .main-about__content{
        padding: 10px;
    }
    .title-nivel{
        font-size: 40px;
        letter-spacing: 0;
    }
    .main-blog__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .main-enlaces__content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container-contacto {
        display: grid;
        grid-template-columns: 1fr;
    }

    .formulario {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-title__blog {
        display: grid;
        grid-template-columns: 1fr;
    }

    .text-blog {
        font-size: 17px;
    }

    .main-proyectos__items {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-card__proyectos--text {
        width: 100%;
    }

    .proyectos-text {
        width: 100%;
        padding: 20px;
        text-align: left;
    }
    .main-proyectos__items{
        padding-top: 170px;
    }
    .slider-prueba .slick-dots{
        height: 100px;
    }

    .title-nivel2--line {
        text-align: initial;
    }

    textarea {
        width: 100% !important;
    }

    .main-nivel__title {
        padding: 1.5rem;

    }

    .main-video__bg--color,
    .main-video__bg--text {
        display: none;
    }

    .video-bg__text {
        padding: 1rem;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid;
        right: initial;
        bottom: -90px;
    }

    .main-about__bg {
        height: 50%;
        padding: 0;
    }

    .main-proyectos__content .slick-next,
    .main-proyectos__content .slick-prev {
        top: 130px !important;
    }

    .main-proyectos__content .slick-next {
        left: 25% !important;

    }

    .main-proyectos__content .slick-prev {
        right: 62% !important;
    }

    .main-proyectos__content .slick-next:hover {
        left: 65% !important;
    }

    .main-proyectos__content .slick-prev:hover {
        right: 40% !important;
    }

    .main-video__content .slick-next,
    .main-video__content .slick-prev {
        bottom: -210px !important;
    }

    .main-video__content .slick-next {
        left: 56% !important;
    }

    .main-video__content .slick-prev {
        right: 36% !important;
    }

    .main-video__content .slick-next:hover {
        left: 60% !important;
    }

    .main-video__content .slick-prev:hover {
        right: 40% !important;
    }

    .main-details__projects--content {
        grid-template-columns: 100%;
        padding: 0 1rem;
    }

    .main-details__video--content {
        grid-template-columns: 100%;
    }

    .main-details__descripcion {
        margin-left: 0;
        margin-bottom: 52px;
        padding-right: 0 !important;
    }

    .main-details__projects--content {
        grid-template-columns: 100% !important;
        padding: 0 1rem;
    }

    .main-details__ubicacion--content {
        grid-template-columns: 100% !important;

    }

    .main-details__projects--avance .main-details__projects--slick {
        padding-left: 0;
    }

    .main-details__planos--items {
        flex-wrap: wrap;
    }

    .main-details__planos--img {
        padding-right: 0px;
    }

    .main-details__projects--zona .main-details__descripcion {
        margin-right: 0;
    }

    .main-details__planos--img img {
        width: 100%;
    }

    .main-details__slick--content .slick-slide {
        margin-right: 0;
    }

    .main-details__galeria--title {
        display: block;
    }

    .main-details__icono--content2 {
        padding: 0;
    }

    .main-nosotros__content {

        grid-template-columns: 100%;
    }

    .main-nosotros__content--text {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .main-experiencia__content {
        grid-template-columns: 100%;
    }

    .main-nosotros__carousel .slick-slide {
        margin-right: 0;
        margin-bottom: 1rem;
        margin-left: 1px;
    }

    .nosotros-video__img {
        height: 20rem;
        object-fit: cover;
    }

    .main-testimonios__content {

        padding-top: 0px;
    }

    .main-experiencia {
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-projects__content {
        grid-template-columns: 100%;
    }

    .main-projects__tabs ul {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }

    .main-projects__tabs a {
        margin-right: 0;
    }

    .main-proyectos {
        padding-top: 100px;
    }

    .service-about__grid {
        grid-template-columns: 100%;
    }

    .service-steps__grid {
        grid-template-columns: 100%;
        gap: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .service-form__container {
        width: 100%;
    }

    .service-form button {
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .invert-detail {
        padding-bottom: 0;
    }

    .invert-steps__item:nth-child(1) .invert-steps__title--small {
        padding-top: 4rem;
    }

    .main-nivel__title {
        padding: 0 0 0 20px;

    }

    .invert-detail__grid {
        grid-template-columns: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .main-proyectos__text {
        text-align: initial !important;

    }

    .invert-steps__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .invert-steps__text,
    .invert-steps__img {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .invert-steps__grid {
        flex-wrap: wrap;
    }

    .invert-steps__width {
        margin-left: 0;
    }

    .invert-steps__text h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    .invert-form__grid {

        grid-template-columns: 100%;
    }

    .invert-form__info {
        height: 23rem;
    }

    .invert-form__info .mask {
        padding: 2rem;
        justify-content: center;
    }
    #form_contact-form .frm_combo_inputs_container, #form_contact-form .frm_grid_container, #form_contact-form .frm_form_fields .frm_section_heading, #form_contact-form .frm_form_fields .frm_fields_container{
            display: grid !important;
    grid-template-columns: 1fr!important;
    }
    .container-contacto{
        padding: 20px;
        grid-gap: 0px;
    }
    .slider-prueba .slick-dots li,.slider-prueba .slick-dots li.slick-active:after{
        font-size: 14px;
    }
    .slider-prueba .slick-dots li{
        width: 110px;
        margin-right: 30px;
    }
    .slider-prueba .slick-dots li:before{
        display: none;
    }
    .slider-prueba .slick-dots:after{
        width: 100%;
    left: 0px;
    bottom: -10px;
    }
    .main-proyectos__img{
        display: none;
    }
   
}



@media (min-width: 768px) and (max-width: 991px) {
    /* HOME*/
    .main-details__video--content{
        grid-gap: 35px;
    }
    .title-nivel2--line{
        font-size: 3rem;
    }
    .main-details__icono--content.lines {
        position: inherit;
    }
    .container-contacto{
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    .main-blog__content{
        grid-gap: 15px;
    }
    .main-banner .mask .main-banner__text .main-banner__title p, .main-banner .mask .main-banner__text .main-banner__title h1, .main-banner .mask .main-banner__text .main-banner__title h2, .main-banner .mask .main-banner__text .main-banner__title h3, .main-banner .mask .main-banner__text .main-banner__title h4, .main-banner .mask .main-banner__text .main-banner__title h5, .main-banner .mask .main-banner__text .main-banner__title h6{
        font-size: 55px;
    }

    .main-banner__title {
        width: 60%;
        display: flex;
        /* justify-content: center; */
    }
    .main-brand{
        margin-left: 0;
    }
    .main-banner__palabra {
        right: -50px;
    }

    .main-proyectos__img--hidden{
        width: 100%;
    }

    .main-proyectos__card{
        padding-left: 0px;
    }
    .main-proyectos__img{
        margin-right: 0px;
    }
    .main-banner .mask .main-banner__palabra p {
        font-size: 115px;
    }

    .main-banner .mask .main-banner__text .main-banner__title p {
        font-size: 50px;
    }

    .title-welcome {
        font-size: 30px;
        text-align: center;
    }

    .proyectos-text {
        width: 70%;
    }

    .main-title__blog {
        display: grid;
        grid-template-columns: 1fr;
    }

    .formulario {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-enlaces__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main-about__counter{
        right: 0;
        font-size: 35px;
    }
    textarea {
        width: 100% !important;
    }



    .main-proyectos__items {
        display: grid !important;
        grid-template-columns: 388px 1fr;
    }

    .main-card__proyectos--text {
        width: 100%;

    }

    .img-proyectos {
        object-fit: inherit;
    }

    .main-video__bg--text {
        display: none;
    }

    .main-video__bg--color {
        height: 13rem;
        bottom: -36px;
    }

    .video-bg__text {

        bottom: -18px;
        right: 108px;
    }

    .main-video__content .slick-next,
    .main-video__content .slick-prev {
        bottom: -130px !important;
    }

    .main-video__content .slick-prev {
        right: 47% !important;
    }

    .main-video__content .slick-next {
        left: 59% !important;
    }

    .main-video__content .slick-next:hover {
        left: 60% !important;
    }

    .main-video__content .slick-prev:hover {
        right: 49% !important;
    }

    .main-proyectos__content .slick-next,
    .main-proyectos__content .slick-prev {
        bottom: -70px !important;
    }

    .main-proyectos__content .slick-prev {
        right: 43% !important;
    }

    .main-proyectos__content .slick-next {
        left: 61% !important;
    }

    .main-details__projects--content {
        grid-template-columns: 50% 50%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    /* .main-details__projects--zona {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } */

    .main-details__descripcion {
        margin-left: 0;
    }

    /* .main-details__projects {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } */

    .main-details__icono--content2 {
        padding-top: 0;
    }

    .main-details__projects--avance .main-details__projects--slick {
        padding-left: 0rem;
    }

    .main-details__projects--avance .main-details__projects--content {
        grid-template-columns: 50% 50%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .main-nosotros__content {
        grid-template-columns: 50% 50%;
    }

    .main-experiencia {
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-experiencia__content {

        grid-template-columns: 1fr 1fr;
    }

    .service-about__grid {
        grid-template-columns: 100%;
    }

    .service-steps__grid {
        gap: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .service-form__container {
        width: 90%;
    }


    .invert-steps__text,
    .invert-steps__img {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .invert-steps__grid {
        flex-wrap: wrap;
    }

    .invert-steps__width {
        margin-left: 0;
    }

    .invert-form__info .mask {
        padding-left: 2rem;
        padding-bottom: 4rem;
    }
    .slider-prueba .slick-dots li{
        margin-right: 20px;
    }
    .main-projects__tabs ul{
        padding-top: 0px;
    }
    .container-contacto{
        padding: 0px 0px 20px 0px;
    }


}



@media (min-width: 992px) and (max-width: 1199px) {
    .main-banner .mask .main-banner__text .main-banner__title p, .main-banner .mask .main-banner__text .main-banner__title h1, .main-banner .mask .main-banner__text .main-banner__title h2, .main-banner .mask .main-banner__text .main-banner__title h3, .main-banner .mask .main-banner__text .main-banner__title h4, .main-banner .mask .main-banner__text .main-banner__title h5, .main-banner .mask .main-banner__text .main-banner__title h6{
        font-size: 55px;
    }
    .main-banner .mask .main-banner__palabra p{
        font-size: 170px;
    }
    .service-steps__grid {
        gap: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .main-proyectos__img--hidden{
        width: 100%;
    }
    .video-bg__text{
        right: 190px;
    }
    .main-about__counter{
        right: 0;
        font-size: 35px;
    }

    .invert-detail {
        padding-bottom: 0;
    }

    .invert-steps__item:nth-child(odd) .invert-steps__text {
        padding-right: 2rem;
    }

    .invert-steps__text {
        padding-left: 2rem;

    }

    .invert-steps__item:nth-child(1) .invert-steps__title--small {
        padding-top: 4rem;
    }
    .container-contacto{
        grid-gap: 0px;
    }
    .main-brand{
        margin-left: 0px;
    }
    .main-banner__title {
        width: 60%;
    }
    .main-details__video--content{
        grid-gap: 30px;
    }
    .main-details__descripcion {
        margin-left: 3rem;
    }
}


@media (min-width: 1440px) and (max-height: 900px) {
    .navbar-brand{
        width: 115px;
    }
    .nav-item{
        padding-top: 35px;
    }
    .offcanvas-collapse{
        height: 80%;
    }
    .main-banner .mask .main-banner__palabra p{
        font-size: 300px;
    }
    .main-banner__title.main-banner__title--home{
        width: 45%;
    }
    .main-banner .mask .main-banner__text .main-banner__title p, .main-banner .mask .main-banner__text .main-banner__title h1, .main-banner .mask .main-banner__text .main-banner__title h2, .main-banner .mask .main-banner__text .main-banner__title h3, .main-banner .mask .main-banner__text .main-banner__title h4, .main-banner .mask .main-banner__text .main-banner__title h5, .main-banner .mask .main-banner__text .main-banner__title h6{
            font-size: 90px;
    }
    .main-banner__palabra--contacto{
        top: 220px;
         right: -215px;
    }
    .main-brand{
        margin-left: -50px;
    }
    .main-banner .mask .main-banner__text{
        padding-left: 0px;
    }
    .title-nivel{
        font-size: 4.2rem;
    }
    .title-welcome{
            font-size: 45px;
    }
    .title-nivel2--line{
        font-size: 4.2rem;
    }
    .container-prueba{
        height: 80vh;
    }
    .video-bg__text{
        right: 300px;
    }
   
    .main-banner__palabra--contacto p:nth-child(2){
            top: 195px;
            right: 75px;
    }
    .video-bg__text{
        padding-left: 50px;
    }
    .main-banner__title.main-banner__title--full p {
        font-size: 105px !important;
    }
    .main-banner__palabra.main-banner__palabra--contacto.main-banner__palabra--full {
        top: 240px !important;
        right: -160px !important;
    }
    .main-banner__palabra.main-banner__palabra--contacto.main-banner__palabra--full p{
        font-size: 300px !important;
    }
    .main-banner__palabra--contacto.main-banner__palabra--full p:nth-child(2){
        font-size: 110px !important;
            right: 10px !important;
    }
    .main-general__description p, .main-details__video--text p{
            font-size: 18px;
    }
}