@media (min-width: 0px) and (max-width: 767px) {
    .navbar-brand{
        display: block !important;
    }
    .navbar-nav{
        flex-direction: column !important;
        justify-content: flex-start;
        padding-top: 90px !important;
        padding-left: 10px !important;
        margin-right: 0px;
    }
    .nav-item:last-child {
        margin-left: 0px;
        margin-top: 10px;
    }
    .nav-link{
        font-size: 18px;
    }
    .navbar-toggler {
        position: static;
    }
    .container-prueba{
        height: 60vh;
    }
    .__items{
        width: 100%;
        display: grid !important;
        grid-template-columns: 1fr !important;
        padding-top: 205px;


    }
    .__card {
        padding-left: 15px;
        padding-left: 15px;
    }
    .__content .slick-next,
    .__content .slick-prev{
        top:8rem;
    }
    .__content .slick-prev{
        left: 3rem !important;
    }
    .__content .slick-next{
        left: 6rem !important;
    }

    .__content .slick-prev:hover{
        left: 3.1rem !important;
    }
    .__content .slick-next:hover{
        left: 6.1rem !important;
    }
    
    .__img {
        display: none;
    }
    .service-form__container {
       
        height: 100vh !important;
    }
    /* HOME*/
    .main-video__img{
        width: 99%;
        height: 200px;
    }
    .img-video {
        height: 200px;
    }
    #form_contact-form .frm_combo_inputs_container, #form_contact-form .frm_grid_container, #form_contact-form .frm_form_fields .frm_section_heading, #form_contact-form .frm_form_fields .frm_fields_container{
        grid-gap: 0px !important;
    }
    .frm_submit button{
        width: 100% !important;
    }
    .main-enlaces{
        padding: 0 0 30px 8px !important;
    }
    .main-enlaces__nivel {
        padding-top: 35px;
    }
    .main-enlaces__menu,.main-direccion{
        padding: 0px;
    }
    .main-enlaces__nivel--text {
        padding-top: 20px;
        width: 100%;
    }
    .main-banner__title.main-banner__title--home{
        width: 100%;
    }
    html{
        margin-top: 0px !important;
    }
    html #wpadminbar{
        position: fixed;
    }
    .title-nivel2--line{
        font-size: 2rem;
    }
    .text-price-projects{
        font-size: 20px;
    }
    .details-video__body{
        padding-right: 0px;
    }
    .main-brand button.openMenu{
        position: absolute;
        right: 0px;
        top: 10px;    
    }
    .nav-item{
        padding-top: 15px;
    }
    .main-proyectos__card{
        padding: 10px;
    }
    .main-banner__palabra {
        right: 0;
        top: 385px;
    }
    .main-brand {
    margin-left: 0px;
    }
    .main-details__icono--content.lines {
    position: initial;
    }

    .main-welcome{
        padding-bottom: 25px;
        padding-top: 0px;
    }
    
    .main-enlaces__redes {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .list-title{
        font-size: 15px;
    }
    .enlaces-nivel__text{
        font-size: 14px;
    }
    .main-banner .mask .main-banner__palabra p {
        font-size: 75px;
    }

    .main-banner .mask .main-banner__text .main-banner__title p {
        font-size: 45px !important;
    }
    .btn--filled--trans.btn-size {
        text-transform: uppercase;
        font-size: 20px;
        padding: 10px 40px;
    }
    .text-inversion__center p{
        width: 100%;
    }

    .main-banner__title {
        width: 100%;
        display: flex;
        /* justify-content: center; */
    }

    .main-banner .mask .main-banner__text {
        width: 100%;
    }
    .main-banner .mask .main-banner__text{
        padding-left: 0px;
    }
  
    .main-proyectos__grid {
        padding-bottom: 30px;
    }
    .main-nosotros__carousel .slick-prev, .main-nosotros__carousel .slick-next {
        bottom: 34rem !important;
    }
    .main-nosotros__icon{
        margin-bottom: 20px;
    }
    .main-nosotros__carousel .slick-next {
        right: -15px;
    }
    .main-banner__title.main-banner__title--services {
        width: 100%;
    }
    .service-about {
        padding: 40px 25px 40px 25px;
    }
    .service-steps .container {
        width: 100%;
        padding-right: 25px;
        padding-left: 22px;
    }
    .service-form{
        padding: 0px 0;
    }
    .main-nosotros__carousel .slick-prev {
        right: 1rem;
    }

    .title-welcome {
        padding: 1.5rem;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .main-about__title{
        padding: 40px 25px 0 25px;
    }
    .main-about__content{
        padding: 10px 25px;
    }
    .title-nivel{
        font-size: 40px;
        letter-spacing: 0;
        font-size: 2rem;
    }
    .main-blog__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .main-enlaces__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .container-contacto {
        display: grid;
        grid-template-columns: 1fr;
    }

    .formulario {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-title__blog {
        display: grid;
        grid-template-columns: 1fr;
    }

    .text-blog {
        font-size: 17px;
    }

    .main-proyectos__items {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-card__proyectos--text {
        width: 100%;
    }

    .proyectos-text {
        width: 100%;
        padding: 20px 25px;
        text-align: left;
    }

    .main-banner .mask .main-banner__boxtext{
        padding: 0 25px;
    }
    .main-proyectos__items{
        padding-top: 200px !important;
    }
    .slider-prueba .slick-dots{
        height: 100px;
        display: flex;
    }

    .title-nivel2--line {
        text-align: initial;
    }

    textarea {
        width: 100% !important;
    }

    .main-video__bg--color,
    .main-video__bg--text {
        display: none;
    }

    .video-bg__text {
        padding: 1rem;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid;
        right: initial;
        font-size: 18px;
        bottom: -45px;
    }
    .main-icono__footer.open {
        bottom: 0px;
    }

    .main-details__video--icono {
        width: 70px;
        height: 70px;
    }
    .main-details__video--icono img{
        margin-top: 0px;
    }
    .mask-video2{
        padding: 40px 10px;
    }

    .main-about__bg {
        height: 50%;
        padding: 0;
    }

    .main-proyectos__content .slick-next,
    .main-proyectos__content .slick-prev {
        top: 130px !important;
    }

    .main-proyectos__content .slick-next {
        left: 25% !important;
        z-index: 999999999999999999;

    }

    .main-proyectos__content .slick-prev {
        right: 62% !important;
        z-index: 999999999999999999;
    }

    .main-proyectos__content .slick-next:hover {
        left: 27% !important;
        z-index: 999999999999999999;
    }

    .main-proyectos__content .slick-prev:hover {
        right: 64% !important;
        z-index: 999999999999999999;
    }

    .main-video__content .slick-next,
    .main-video__content .slick-prev {
        bottom: 215px !important;
    }

    .main-video__content .slick-next {
        left: 20% !important;
    }

    .main-video__content .slick-prev {
        right: 66% !important;
    }

    .main-video__content .slick-next:hover {
        left: 22% !important;
    }.slider-prueba {
        height: 0;
    }

    .slick-next:after, .slick-prev:after{
        top:52% !important;
    }
    .main-video__content .slick-prev:hover {
        right: 68% !important;
    }

    .main-details__projects--content {
        grid-template-columns: 100%;
        padding: 0 1rem;
    }

    .main-details__video--content {
        grid-template-columns: 100%;
    }
    .slider-prueba {
        height: 0;
    }

    .main-details__descripcion {
        margin-left: 0;
        margin-bottom: 52px;
        padding-right: 0 !important;
    }

    .main-details__projects--content {
        grid-template-columns: 100% !important;
        padding: 0 1rem;
    }

    .img-proyectos__grid{
        height: 55vh;
    }
    .main-about{
        padding-bottom: 20px;
    }

    .main-video{
        padding-top: 0;
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px;
    }
    .main-video .main-nivel__title{
        margin-bottom: 60px;
    }
    .main-video .main-nivel__title h1{
        text-align: center;
    }

    .main-details__ubicacion--content {
        grid-template-columns: 100% !important;
    }
    .title-nivel2--line-initial strong::before{
        width: 11rem;
        bottom: -5px;
    }

    .main-details__projects--avance .main-details__projects--slick {
        padding-left: 0;
    }

    .main-details__planos--items {
        flex-wrap: wrap;
    }

    .main-details__planos--img {
        padding-right: 0px;
    }

    .main-details__projects--zona .main-details__descripcion {
        margin-right: 0;
    }

    .main-details__planos--img img {
        width: 100%;
    }

    .main-details__slick--content .slick-slide {
        margin-right: 0;
    }

    .main-details__galeria--title {
        display: block;
    }

    .main-details__icono--content2 {
        padding: 0;
    }

    .main-nosotros__content {

        grid-template-columns: 100%;
    }

    .main-nosotros__content--text {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .main-experiencia__content {
        grid-template-columns: 100%;
    }

    .main-nosotros__carousel .slick-slide {
        margin-right: 0;
        margin-bottom: 1rem;
        margin-left: 1px;
    }

    .nosotros-video__img {
        height: 20rem;
        object-fit: cover;
    }

    .main-testimonios__content {

        padding-top: 0px;
    }

    .main-experiencia {
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-projects__content {
        grid-template-columns: 100%;
    }

    .main-projects__tabs ul {
        justify-content: center;
        /* flex-direction: column; */
        align-items: center;
        padding-top: 0px;
    }
    .nav-item__tabs{
        padding-right: 5px;
    }

    .main-projects {
        padding-top: 40px;
        padding-bottom: 60px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .main-projects__img {
        height: 350px;
    }
    .projects-title{
        font-size: 20px;
    }
    .projects-text{
        font-size: 15px;
    }
    .main-projects__tabs .tab-content {
        margin-top: 2.5rem;
    }
    .main-banner__title.main-banner__title--projects {
        width: 100%;
        padding-top: 0;
    }
    .main-details__video--card{
        order: -1;
        padding: 0 20px;
    }
    .main-details__projects {
        padding: 80px 10px;
    }
    .main-details__projects--avance{
        padding: 70px 10px 80px 10px !important;
    }
    .main-details__icono--content.lines {     
        width: 100%;
    }
    .main-details__slick--img {
        height: 350px !important;
    }
    .main-details__projects--avance, .main-details__projects--zona {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .main-details__planos-text {
        order: -1;
    }
    .main-details__planos--img {
        height: 250px;
    }
    .main-details__projects--planos {
        padding: 95px 10px 10px 10px;   
    }
    .main-details__projects--zona{
        padding: 20px 10px 0 10px;
    }
    .main-details__galeria {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main-blog.main-blog--view {
        padding: 40px 10px 40px 10px;
    }
    .main-banner__title.main-banner__title--single {
        margin-top: 0;
    }
    .main-blog__content{
        padding: 30px 0px 0 0px;
    }
    .main-groupfeatured__sidebar {
        padding: 0;
    }
    .main-blog__card--medium {
        max-height: 900px;
    }
    .main-blog__content.main-blog__content--blog .main-blog__body {
        padding: 25px 15px 25px 15px;
    }
    .main-blog__content.main-blog__content--blog {
        grid-template-columns: 100% !important;
        grid-gap: 35px;
        padding-top: 0;
    }
    .main-details__galeria--content {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .main-details__planos--items {
        grid-template-columns: 100%;
    }
    .main-details__ubicacion--img {
        height: 300px;
    }
    .details-planos__text{
        margin-top: 20px;
    }

    #frm_form_4_container, #frm_form_3_container {
        width: 100% !important;
    }
    .main-details__video-pd {
        padding: 35px 0 0px 0;
    }
    .main-details__video--buttom {
        padding: 40px 0px 0 0px;
    }
    .main-details__video--presentation {
        padding: 60px 20px 0 20px;
    }
    .btn--filled2{
        width: 100%;
    }
    .main-details__video--content{
        grid-gap: 40px;
        padding: 0;
    }

    .main-banner .main-banner__img.main-banner__img--project {
        width: 100%;
        height: 65vh;
    }

    /* .main-projects__body {
        flex-direction: column;
    } */
    .main-projects__tabs a {
        margin-right: 0;
    }

    .main-proyectos {
        padding-top: 50px;
    }

    .service-about__grid {
        grid-template-columns: 100%;
    }

    .service-steps__grid {
        grid-template-columns: 100%;
        gap: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .service-steps__title {
        margin-bottom: 1rem;
    }

    .service-form__container {
        width: 100%;
        padding: 50px 0 0px 0;
    }

    .service-form button {
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .invert-detail {
        padding-bottom: 0;
    }

    .invert-steps__item:nth-child(1) .invert-steps__title--small {
        padding-top: 4rem;
    }

    .main-nivel__title {
        padding: 0 0 0;
    }
    .title-nivel2--line{
        margin-bottom: 0px;
    }

    .invert-detail__grid {
        grid-template-columns: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .main-proyectos__grid--buttom {
        padding-top: 20px;
    }

    .mask-images-text{
        bottom: -50px;
        font-size: 65px;
    }
    /* .main-proyectos__content {
        height: auto !important;
        min-height: 0vh;
    } */
    .main-general__description{
        font-size: 15px;
    }

    .slider-prueba .slick-dots li.slick-active:after{
        border-bottom: none;
    }
    .main-proyectos__text {
        text-align: initial !important;

    }

    .invert-steps__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .invert-steps__text,
    .invert-steps__img {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .invert-steps__grid {
        flex-wrap: wrap;
    }

    .invert-steps__width {
        margin-left: 0;
    }

    .invert-steps__text h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    .invert-form__grid {

        grid-template-columns: 100%;
    }

    .invert-form__info {
        height: 23rem;
    }

    .invert-form__info .mask {
        padding: 2rem;
        justify-content: center;
    }
    #form_contact-form .frm_combo_inputs_container, #form_contact-form .frm_grid_container, #form_contact-form .frm_form_fields .frm_section_heading, #form_contact-form .frm_form_fields .frm_fields_container{
            display: grid !important;
    grid-template-columns: 1fr!important;
    }
    .container-contacto{
        padding: 20px 25px 40px 25px;
        grid-gap: 0px;
    }

    .main-contacto__text {        
        margin-top: 20px;
    }

    .text-contacto2 {
        font-size: 20px;
    }
    .slider-prueba .slick-dots li,.slider-prueba .slick-dots li.slick-active:after{
        font-size: 14px;
    }
    .slider-prueba .slick-dots li{
        margin-right: 0px;
    }
    .slider-prueba .slick-dots li:before{
        display: none;
    }
    .slider-prueba .slick-dots:after{
        width: 100%;
    left: 0px;
    bottom: 15px;
    }
    .main-proyectos__img{
        display: none;
    }
    .title-card__proyectos{
        font-size: 25px;
    }
    .main-blog{
        padding: 20px 25px 40px 25px;
    }
    .main-blog__body {
        padding: 20px 20px 20px 20px;
    }
    .text-blog{
        font-size: 20px;
    }
    .img-blog{
        object-fit: cover;
    }
    .main-sidebar__category{
        margin-bottom: 25px;
    }
    .main-blog__boxtags{
        margin-top: 0;
        padding: 0px 30px 30px 30px;
    }
    .img-avatar{
        margin-right: 15px !important;
    }
    .comment-form-author, .comment-form-email {
        width: 100% !important;
        margin-right: 0;
        border: solid 1px #dfdfdf !important;
    }
    .form-submit {
        width: 100% !important;
    }
    #commentform .btn--filled--black {

        width: 100%;
    }
    .comment-form-cookies-consent {
        order: 5 !important;
        display: flex;
    }
    .comment-form-cookies-consent label {
        font-size: 15px !important;
        font-weight: 400 !important;
        margin-left: 5px;
    }
    .main-nosotros{
        padding: 30px 25px;
    }
    .main-nosotros__content--experence {
        padding: 0px;
        order: -1;
    }
    .main-testimonios {
        padding: 70px 10px 70px 10px;
    }
    .main-contactform__boxtext {
        padding: 0 0px;
    }
    .main-contactform__item:nth-child(2) {
        padding: 0px;
    }
}



@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav{
        flex-direction: column !important;
        justify-content: flex-start;
        padding-top: 90px !important;
        padding-left: 10px !important;
    }
    .nav-item:last-child {
        margin-left: 0px;
        margin-top: 10px;
    }
    .nav-link{
        font-size: 18px;
    }
    .navbar-toggler{
        position: static;
    }
    .__img {
        margin-right: 20px;
    }
    .__card {
        padding-left: 25px;
    }
    .__items {
        grid-template-columns: 270px 1fr !important;
        
    }
    .slider-prueba .slick-prev {
        right: 82% !important;
    }
    .slider-prueba .slick-prev:hover {
        right: 83% !important;
    }

    .slider-prueba .slick-next {
        left: 15% !important;
    }
    .slider-prueba .slick-next:hover {
        left: 16% !important;
    }
    .__content .slick-next, .__content .slick-prev{
        bottom: 500px !important;
    }
    .main-contactform__boxtext {
        padding: 0 30px 0 0;
    }
    .main-contactform__item:nth-child(2) {
        padding: 0 20px 0 20px;
    }
    .main-video {
        padding-top: 0px !important;
        overflow: hidden !important;
    }    
    .main-details__video--content{
        grid-gap: 35px;
    }
    .title-nivel2--line{
        font-size: 2.5rem;
    }
    .main-about{
        padding-bottom: 70px;
    }
    .main-details__icono--content.lines {
        position: inherit;
    }
    .container-contacto{
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    .main-blog__content{
        grid-gap: 15px;
    }
    .main-banner .mask .main-banner__text .main-banner__title p, .main-banner .mask .main-banner__text .main-banner__title h1, .main-banner .mask .main-banner__text .main-banner__title h2, .main-banner .mask .main-banner__text .main-banner__title h3, .main-banner .mask .main-banner__text .main-banner__title h4, .main-banner .mask .main-banner__text .main-banner__title h5, .main-banner .mask .main-banner__text .main-banner__title h6{
        font-size: 55px;
    }

    .main-banner__title {
        width: 60%;
        display: flex;
        /* justify-content: center; */
    }
    .main-brand{
        margin-left: 0;
    }
    .main-banner__palabra {
        right: -50px;
    }

    .main-proyectos__img--hidden{
        width: 100%;
    }

    .main-proyectos__card{
        padding-left: 0px;
    }
    .main-proyectos__img{
        margin-right: 0px;
    }
    .main-banner .mask .main-banner__palabra p {
        font-size: 115px;
    }

    .main-banner .mask .main-banner__text .main-banner__title p {
        font-size: 50px;
    }

    .title-welcome {
        font-size: 28px;
        text-align: center;
    }

    .proyectos-text {
        width: 70%;
    }

    .main-title__blog {
        display: grid;
        grid-template-columns: 1fr;
    }

    .formulario {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-enlaces__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .main-about__counter{
        right: 0;
        font-size: 35px;
    }
    textarea {
        width: 100% !important;
    }



    .main-proyectos__items {
        display: grid !important;
        grid-template-columns: 388px 1fr;
    }

    .main-card__proyectos--text {
        width: 100%;

    }

    .img-proyectos {
        object-fit: inherit;
    }

    .main-video__bg--text {
        display: none;
    }

    .main-video__bg--color {
        height: 13rem;
        bottom: -36px;
    }

    .video-bg__text {

        bottom: -18px;
        right: 108px;
    }

    .main-video__content .slick-next,
    .main-video__content .slick-prev {
        bottom: 180px !important;
    }

    .main-video__content .slick-prev {
        right: 84% !important;
    }

    .main-video__content .slick-next {
        left: 92% !important;
    }
    .main-proyectos {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .main-blog {
        padding-top: 0px;
        padding-bottom: 80px;
    }
    .main-proyectos__grid--buttom {
        padding-top: 15px;
    }
    .main-proyectos__grid {
        padding-top: 0px;
        padding-bottom: 60px;
    }
    .img-blog{
        object-fit: cover;
    }
    .main-blog__content {
        padding: 30px 0px 0 0px;
    }

    .main-video__content .slick-next:hover {
        left: 60% !important;
    }

    .main-video__content .slick-prev:hover {
        right: 49% !important;
    }

    .main-proyectos__content .slick-next,
    .main-proyectos__content .slick-prev {
        bottom: -70px !important;
    }

    .main-proyectos__content .slick-prev {
        right: 43% !important;
    }

    .main-proyectos__content .slick-next {
        left: 61% !important;
    }

    .main-details__projects--content {
        grid-template-columns: 50% 50%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    /* .main-details__projects--zona {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } */

    .main-details__descripcion {
        margin-left: 0;
    }

    /* .main-details__projects {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } */

    .main-details__icono--content2 {
        padding-top: 0;
    }

    .main-details__projects--avance .main-details__projects--slick {
        padding-left: 0rem;
    }

    .main-details__projects--avance .main-details__projects--content {
        grid-template-columns: 50% 50%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .main-nosotros__content {
        grid-template-columns: 50% 50%;
    }

    .main-experiencia {
        padding: 0 10px 0 10px;
    }

    .main-experiencia__content {

        grid-template-columns: 1fr 1fr;
    }

    .service-about__grid {
        grid-template-columns: 100%;
    }

    .service-steps__grid {
        gap: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .service-form__container {
        width: 90%;
    }


    .invert-steps__text,
    .invert-steps__img {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .invert-steps__grid {
        flex-wrap: wrap;
    }

    .invert-steps__width {
        margin-left: 0;
    }

    .invert-form__info .mask {
        padding-left: 2rem;
        padding-bottom: 4rem;
    }
    .slider-prueba .slick-dots li{
        margin-right: 20px;
    }
    .main-projects__tabs ul{
        padding-top: 0px;
    }
    .container-contacto{
        padding: 0px 0px 40px 0px;
    }
    .main-banner__content .slick-next, .main-banner__content .slick-prev{
        bottom: 150px !important;
    }
    .main-about__title {
        padding: 50px 0 0 50px;
    }
    .title-nivel{
        font-size: 2.5rem;
    }
    .projects-title{
        font-size: 20px;
    }
    .projects-text {
        font-size: 15px;
    }
    .main-banner__palabra.main-banner__palabra--projects p {
        font-size: 120px !important;
        letter-spacing: 5px !important;
    }
    .main-banner__palabra.main-banner__palabra--projects {
        right: -30px;
    }
    .main-banner__palabra.main-banner__palabra--projects p:nth-child(2) {
        top: 100px;
        right: 0px;
        font-size: 60px !important;
    }
    .details-video__body {
        padding-right: 50px;
    }
    .main-details__video--buttom {
        padding-top: 20px;
    }
    .main-details__video-pd {
        padding: 55px 0 0px 0;
    }
    .main-details__slick--img {
        height: 400px !important;
    }
    .main-details__projects{
        padding-bottom: 0px;
    }
    .main-details__projects--planos {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .title-nivel2--line-initial strong::before{
        width: 11rem;
    }
    .main-details__galeria {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .main-details__video--buttom.main-details__video--presentation {
        padding-top: 65px;
    }

    .main-details__ubicacion--content .main-contactform__box, .invert-form__grid .main-contactform__box {
        padding: 35px 0px 30px 30px;
    }
    .main-direccion {
        padding-left: 0;
    }
    .main-enlaces__menu {
        padding: 0px;
    }
    .main-enlaces__menu {
        padding: 0px;
    }
    .main-enlaces {
        padding: 60px 50px 35px 50px;
    }
    .main-banner__palabra.main-banner__palabra--blog {
        right: -40px;
    }
    .main-blog.main-blog--view {
        padding-top: 50px;
    }
    .main-blog__content.main-blog__content--blog {
        grid-gap: 50px;
    }
    .main-blog__bloggrid {
        grid-gap: 60px;
    }
    .main-groupfeatured__sidebar {
        padding: 0;
    }
    .main-sidebar__category {
        margin-bottom: 30px;
    }
    .main-fav, .widget.widget_search, .widget.widget_recent_entries {
        padding: 10px !important;
    }
    .main-banner__palabra.main-banner__palabra--about {
        right: -40px;
        font-size: 225px;
    }
    .main-nosotros {
        padding-top: 30px;
    }
    .main-nosotros__content--experence {
        padding: 25px 0 25px 0px;
    }
    .main-experiencia__content {
        grid-gap: 35px;
    }
    .main-testimonios__content {
        padding-top: 0;
    }
    .main-testimonios {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .nosotros-video__img {
        height: 400px;
    }    
    .main-banner__title.main-banner__title--services {
        width: 50%;
    }
    .main-banner__palabra.main-banner__palabra--services {
        right: -55px;
    }
    .main-banner__palabra.main-banner__palabra--services p {
        font-size: 245px;
        letter-spacing: 5px !important;
    }
    .main-banner__palabra.main-banner__palabra--services p:nth-child(2){
        right: 25px !important;
    }
    .service-about {
        padding: 40px 0px 25px 20px;
    }

    .service-about__description {
        padding-top: 0;
    }
    .main-banner__palabra.main-banner__palabra--contact {
        top: 165px;
        right: -40px;
    }
    .main-banner__palabra.main-banner__palabra--contact p {
        font-size: 150px;
        letter-spacing: 5px;
    }
    .main-banner__palabra.main-banner__palabra--contact p:nth-child(2) {
        top: 110px;
        right: -10px;
        font-size: 70px !important;
    }
    .main-banner .mask .main-banner__text .main-banner__title.main-banner__title--error p {
        font-weight: 800;
        font-size: 90px !important;
    }
    .main-banner__description.main-banner__error p:nth-child(1) {
        font-size: 18px;
    }
    .btn--filled--trans.btn-size {
        font-size: 15px;
    }
   
    .main-banner__title.main-banner__title--large p {
        letter-spacing: 5px !important;
    }
    .main-details__projects--avance, .main-details__projects--zona{
        padding-bottom: 40px;
    }
}



@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav{
        margin-right: 0px;
    }
    .main-banner__palabra.main-banner__palabra--contact {
        top: 165px;
        right: -40px;
    }
    .main-banner__palabra.main-banner__palabra--contact p {
        font-size: 150px;
        letter-spacing: 5px;
    }
    .main-banner__palabra.main-banner__palabra--contact p:nth-child(2) {
        top: 110px;
        right: -10px;
        font-size: 70px !important;
        letter-spacing: 20px !important;
    }
    .title-nivel,.title-nivel2--line{
        font-size: 2.5rem;
    }
    .main-about{
        padding-bottom: 30px;
    }
    .main-video__bg--text{
        right: 165px;
        width: 35%;
    }
    .main-blog {

        padding-bottom: 90px;
    }
    .main-proyectos__img{
        margin-right: 80px;
    }
    .main-proyectos {
        padding-bottom: 0px;
    }
    .main-enlaces {
        padding: 60px 50px 35px 50px;
    }
    .main-projects {
        padding-top: 0;
    }
    .main-projects__tabs .tab-content {
        margin-top: 2.5rem;
    }
    .details-video__body {
        padding-right: 50px;
    }
    .main-details__video--buttom {
        padding-top: 30px;
    }
    .main-details__video-pd {
        padding: 55px 0 10px 0;
    }
    .main-details__projects--avance, .main-details__projects--zona {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .main-details__projects--planos {
        padding-bottom: 0;
    }
    .main-details__video--buttom.main-details__video--presentation {
        padding-top: 60px;
    }
    .main-details__galeria {
        padding-bottom: 60px;
    }
    .main-details__ubicacion--content .main-contactform__box, .invert-form__grid .main-contactform__box {
        padding: 30px 0px 30px 35px;
    }
    .main-blog.main-blog--view {
        padding-top: 60px;
    }    
    .main-contactform {
        padding: 60px 0 60px 0;
    }
    .main-nosotros{
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .main-nosotros__content--experence {
        padding: 25px 0 25px 0px;
    }
    .main-proyectos__grid {
        padding-bottom: 50px;
    }
    .main-experiencia {
        padding-bottom: 40px;
    }
    
    .main-banner .mask .main-banner__text .main-banner__title p, .main-banner .mask .main-banner__text .main-banner__title h1, .main-banner .mask .main-banner__text .main-banner__title h2, .main-banner .mask .main-banner__text .main-banner__title h3, .main-banner .mask .main-banner__text .main-banner__title h4, .main-banner .mask .main-banner__text .main-banner__title h5, .main-banner .mask .main-banner__text .main-banner__title h6{
        font-size: 55px;
    }
    .main-banner .mask .main-banner__palabra p{
        font-size: 170px;
    }
    .service-steps__grid {
        gap: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .main-proyectos__img--hidden{
        width: 100%;
    }
    .video-bg__text{
        right: 190px;
    }
    .main-about__counter{
        right: 0;
        font-size: 35px;
    }

    .invert-detail {
        padding-bottom: 0;
    }

    .invert-steps__item:nth-child(odd) .invert-steps__text {
        padding-right: 2rem;
    }

    .invert-steps__text {
        padding-left: 2rem;

    }

    .invert-steps__item:nth-child(1) .invert-steps__title--small {
        padding-top: 4rem;
    }
    .container-contacto{
        grid-gap: 0px;
    }
    .main-brand{
        margin-left: 0px;
    }
    .main-banner__title {
        width: 60%;
    }
    .main-details__video--content{
        grid-gap: 30px;
    }
    .main-details__descripcion {
        margin-left: 3rem;
    }
}


@media (min-width: 1440px) and (max-height: 900px) {
    .navbar{
        padding: 20px;
    }
    .main-logo__collapse{
        margin-bottom: 40px;
    }
    /* .navbar-expand-lg .navbar-nav{
        margin-left: -10px;
        padding-right: 3rem;
    } */
    /* .offcanvas-collapse{
        padding-top: 55px;
    }
    .offcanvas-collapse.open{
        left: 76%;
    }
    .offcanvas-collapse{
        width: 26%;
    } */

    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 0px;
        padding-right: 85px;
        padding-bottom: 3px;
        font-size: 15px;
    }

    .main-banner__angle-down{
        bottom: 10.8%;  
    }
    .p-2 {
        padding: 35px 30px 33px 30px !important;
      }
      .p-2.p-10{
        padding: 10px !important;
        top: 15px;
        right: 5px;
      }
    .hamburger-inner.inner-small{
        width: 20px;
    }
    .navbar-brand{
        width: 100px;
        margin-top: 10px;
        margin-left: -5px;
        
    }
    /* .nav-item{
        padding-top: 30px;
    } */
    /* .offcanvas-collapse{
        height: 80%;
    } */


    .main-about__content {
        padding: 0 0px 0 20px;
    }
    .main-about__title{
        padding-left: 17px;
    }

    .main-about__counter{
        top: 12px;
        right: 3px;
    }

    .main-about__bg--icono {
        top: 110px;
        left: 117px;
    }
    .btn--filled--about {
        font-size: 15px;
    }
    
    .main-banner .mask .main-banner__palabra p{
        font-size: 245px;
        letter-spacing: 12px;
    }
    .main-banner__title.main-banner__title--home{
        width: 45%;
    }
    .main-banner .mask .main-banner__text .main-banner__title p, .main-banner .mask .main-banner__text .main-banner__title h1, .main-banner .mask .main-banner__text .main-banner__title h2, .main-banner .mask .main-banner__text .main-banner__title h3, .main-banner .mask .main-banner__text .main-banner__title h4, .main-banner .mask .main-banner__text .main-banner__title h5, .main-banner .mask .main-banner__text .main-banner__title h6{
            font-size: 60px;
    }
    .main-banner__title.main-banner__title--home p{
        font-size: 62px !important;
    }

    .main-banner__content .slick-next, .main-banner__content .slick-prev{
        bottom: 142px !important;
    }
    .main-banner__content .slick-prev{
        right:82% !important;
    }

    .main-banner__content .slick-prev:hover {
        right: 87%;
    }
    .main-banner__palabra--contacto{
        top: 175px;
        right: -195px;
    }

    .main-banner .mask .main-banner__text{
        padding-top: 0px;
        /* margin-top: -70px; */
    }

    .main-banner .mask .main-banner__text.main-banner__text--pad{
        padding-top:100px ;
    }
    .main-brand{
        margin-left: -50px;
    }
    .main-banner .mask .main-banner__text{
        padding-left: 0px;
    }
    .title-nivel{
        font-size: 3.2rem;
    }
    .title-welcome{
            font-size: 45px;
    }
    .title-nivel2--line{
        font-size: 3.3rem;
    }
    .container-prueba{
        height: 80vh;
    }
    .main-video{
        padding-top: 80px !important;
        overflow: hidden;
    }
    .main-video__img {

        width: 88%;
    }
    /* .img-video {
    
        max-height: 550px;
    } */

    .main-video__content .slick-prev{
        right: 90% !important;
    }

    .main-video__content .slick-next {
        left: 95.5% !important;
    }
    

    .main-video__content .slick-next, .main-video__content .slick-prev{
        bottom: 285px !important;
    }
   
    .main-banner__palabra--contacto p:nth-child(2){
        top: 190px;
        right: 30px;
        font-size: 100px !important;
    }
    

    .main-video__bg--color{
        height: 25rem;
    }
    
    .main-video__bg--text{
        bottom: -70px;
        right: 185px;
        padding: 85px 0px;
    }
    .video-bg__text{
        padding-left: 72px;
        right: 280px;
        bottom: -40px;
    }
    .main-banner__title.main-banner__title--full p {
        font-size: 80px !important;
    }
    .main-banner__palabra.main-banner__palabra--contacto.main-banner__palabra--full {
        top: 180px !important;
        right: -155px !important;
    }
    .main-banner__palabra.main-banner__palabra--contacto.main-banner__palabra--full p{
        font-size: 250px !important;
    }
    .main-banner__palabra--contacto.main-banner__palabra--full p:nth-child(2){
        font-size: 110px !important;
            right: 10px !important;
    }
    .main-general__description p, .main-details__video--text p{
            font-size: 16px;
    }

    .main-proyectos  {
        padding-top: 105px;
    }
    .main-proyectos__card {
    
        padding-left: 70px;
    }

    .main-proyectos__content .slick-next, .main-proyectos__content .slick-prev, .slider .slick-next, .slider .slick-prev{
        bottom: 195px !important;
    }
    .slider-prueba .slick-dots:after{
        width: 85% !important;
        left: 70px;
    }

    .main-proyectos__img{
        margin-right: 100px;
    }

    .main-proyectos__img--hidden{
        height: 430px;
    }

    .slider-prueba .slick-prev {
        right: 89% !important;
    }

    .slider-prueba .slick-next {
        left: 95.5% !important;
    }

    .slider-prueba .slick-prev:hover {
        right: 91% !important;
    }

    .slider-prueba .slick-next:hover {
        left: 96.5% !important;
    }
    .slider-prueba .slick-dots li{
        margin-right: 25px;
    }
    .slider-prueba .slick-dots {
        top: 20px;
    }
    .slider-prueba .slick-dots li:nth-child(1){
        margin-left: 80px;
    }
    .slider-prueba .slick-dots li:nth-child(2){
        margin-right: 55px;
    }
    .slider-prueba .slick-dots li:nth-child(3){
        margin-right: 55px;
    }

    .slider-prueba .slick-dots li.slick-active:after{
        font-size: 19px;
    }
    .slider-prueba .slick-dots li:nth-child(1):before {
        bottom: -18px;
        right: -30px;
    }
    .slider-prueba .slick-dots li:nth-child(2):before {
        bottom: -18px;
        right: -36px;
    }
    .slider-prueba .slick-dots li:nth-child(3):before {
        bottom: -18px;
        right: -76px;
    }
    .main-proyecto__rotate{
        bottom: 125px;
    }
    .main-proyectos__grid--img:hover .main-proyecto__rotate {
        opacity: 1;
        left: -80px;
        transition: all 500ms ease;
        width: 70%;
    }
    .img-proyectos__grid{
        height: 59vh;
    }

    .btn--filled--proyectos{
        font-size: 20px;
    }
    .main-blog__content{
        padding: 35px 0px 0 0px;
    }
    .main-blog__img {
        height: 350px;
    }
    .main-blog__body {
        padding: 30px 30px 25px 30px;
    }
    .main-icono__footer.open {
        bottom: 25px;
    }
    .container-contacto{
        padding: 5px 70px 35px 70px;
    }
    #form_formulario-inversion2 .main-contactform__textlink{
        margin-top: -13px;
    }
    #form_contact-form .frm_combo_inputs_container, #form_contact-form .frm_grid_container, #form_contact-form .frm_form_fields .frm_section_heading, #form_contact-form .frm_form_fields .frm_fields_container{
        display: grid !important;
        grid-template-columns: 35% 55% !important;
        grid-gap: 30px;
    }


    .main-enlaces {
        padding: 90px 50px 35px 50px;
    }
    .main-banner .mask .main-banner__text .main-banner__title.main-banner__title--error p {
        font-weight: 800;
        font-size: 220px !important;
    }
    .text-two-error {
        line-height: 3 !important;
        font-size: 35px !important;
    }
    .main-banner__description.main-banner__error p:nth-child(1) {
        margin-bottom: 0px !important;
        font-size: 30px;
    }
    .main-banner__description.main-banner__description--error {
        margin-bottom: -75px;
    }
    .main-banner__img.main-banner__img--thanks {
        height: 95vh;
    }
    .btn--filled--trans.btn-size {
        text-transform: uppercase;
        font-size: 30px;
        padding: 10px 40px;
    }

    .main-banner__description p:nth-child(1) {
        margin-bottom: 3rem !important;
    }
    .main-banner__description p{
        font-size: 34px;
    }
    .main-banner__title.main-banner__title--large p {
        font-size: 155px !important;
        letter-spacing: 15px !important;
        line-height: 1.5 !important;
        text-shadow: none !important;
    }
    .main-banner__title.main-banner__title--large{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 160px;
    }


    .main-banner__palabra.main-banner__palabra--projects{
        top: 145px;
        right: -160px;
    }

    .main-banner__palabra.main-banner__palabra--projects p{
        font-size: 192px !important;
    }
    .main-banner__palabra.main-banner__palabra--projects p:nth-child(2) {
        top: 160px;
        right: 20px;
        font-size: 100px !important;
    }
    .main-banner__palabra.main-banner__palabra--inversion{
        top: 185px;
        right: -168px;
    }
    .main-banner__palabra.main-banner__palabra--inversion p {
        font-size: 245px;
        letter-spacing: 13px;
    }

    .main-banner__palabra.main-banner__palabra--inversion p:nth-child(2) {
        top: 180px;
        right: -5px;
        font-size: 100px !important;
        letter-spacing: 20px !important;
    }

    .main-banner__palabra.main-banner__palabra--contact{
        top: 180px;
        right: -170px;
    }

    .main-banner__palabra.main-banner__palabra--contact p:nth-child(2) {
        top: 185px;
        right: 15px;
        font-size: 100px !important;
        letter-spacing: 20px !important;
    }
    .main-contactform__boxtext {
        padding: 0 5px;
    }
    .main-contactform {
        padding: 120px 0 140px 0;
    }
    .main-nivel__small {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }
    .title-nivel2--line-initial.title-nivel2--line-initial--contact strong::before {
        left: -5px;
        bottom: 3px;
    }
    .main-contactform__box {
        background-color: #212121;
        padding: 45px 60px 60px 62px;
    }
    input[type="text"], input[type="tel"], input[type="email"], input[type="number"], input[type="password"]{
        margin: -3px 0;
    }

    .frm_checkbox {
        margin: 5px 0 30px 0 !important;
    }

    .main-contactform__textlink {
        margin-top: -20px;
    }
    #field_9jv0r12 {
        height: 85px !important;
    }
    .main-direccion {
        padding-left: 35px;
    }
    .main-contactform__maps {
        height: 405px;
    }
    .main-enlaces__nivel {
        padding-top: 30px;
    }
    .enlaces-nivel__text, .list-title{
        font-size:13px;
    }
    .list-direccion__title {
        padding: 20px 0px 0 0px;
    }
    .invert-form__info h2 {
        font-size: 25px;
        font-weight: 300;
    }

    .invert-form__info .mask {
        padding-left: 10rem;
        
    }
    .service-form {
        display: flex;
        justify-content: center;
        padding: 110px 10px;
    }
    .service-form form {
        padding: 40px 20px 30px 25px;
    }
    .main-blog__bloggrid{
        grid-template-columns: 66% 34%;
        grid-gap: 25px;
    }
    .main-groupfeatured__sidebar{
            padding: 0px 25px 0 5px;
    }
    .main-groupfeatured__sidebar {
        padding: 0;
    }
    .main-sidebar__category {
        margin-bottom: 25px;
    }
   
    .main-sidebar__ul section{
        padding-top: 10px !important;
    }
    .main-sidebar__ul li {
        margin-bottom: 20px;
    }
    .main-sidebar__link, .main-fav ul li, .main-fav ul li a{
        font-size: 15px;
    }
    .main-sidebar__category{
        padding: 15px 12px 15px 25px;
         margin-bottom: 50px;
    }

    .widget.widget_search input{
        padding: 15px 25px;
    }

    .main-blog__content.main-blog__content--blog .main-blog__body{
        padding: 20px 20px 35px 30px;
    }
    .items-categoria{
        font-size: 14px;
    }
    .main-blog__content.main-blog__content--blog {
        grid-template-columns: 100% !important;
        grid-gap: 60px;
        padding-top: 0;
    }

    .main-title__blog{
        grid-template-columns: 135px 1fr;
    }

    .main-blog__description, .main-blog__text p{
            margin-top: 15px;
            margin-bottom: 25px;
    }
    .main-blog__card--medium {
        max-height: 610px;
    }
    .main-sidebar__category:nth-child(1) {
        padding: 5px 0;
    }
    .main-blog.main-blog--view{
        padding-top: 110px;
    }
    .main-banner__title--single p{
        font-size: 64px !important;
    }
    .service-about {
        padding: 80px 0px 45px 20px;
    }
    .service-steps__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6rem;
        padding-left: 4.5rem;
        padding-right: 5rem;
        padding-bottom: 3rem;
    }
    .service-steps__title h2 {
        font-size: 1.3rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    .main-nosotros__content{
        grid-template-columns: 33% 67%;
    }
    .main-nosotros__content--text {
        padding-right: 7rem;
        padding-left: 5px;
    }
    .main-nosotros__content--experence{
        padding:25px 0 25px 65px;
    }
    .main-testimonios {
        padding-top: 75px;
        padding-bottom: 145px;
    }
    .nosotros-video__img {
        height: 530px;
    }
    .main-banner__palabra.main-banner__palabra--about {
        top: 175px;
        right: -165px;
    }
    .main-banner__palabra--about p:nth-child(2) {
        right: 10px !important;
        letter-spacing: 20px !important;
    }
    .main-banner__palabra.main-banner__palabra--services {
        top: 175px;
        right: -215px;
    }

    .main-banner__palabra.main-banner__palabra--blog{
        top: 175px;
        right: -175px;
    }
    .main-banner__palabra--blog p:nth-child(2){
        right: 10px !important;
        letter-spacing: 20px !important;
    }
    #frm_form_2_container input{
        margin: -6px 0;
    }
    .main-contactform__item:nth-child(2) {
        padding: 0 20px 0 40px;
    }

    .main-contactform__content {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-gap: 10px;
    }
    .main-groupfeatured__sidebar {
        padding: 0 35px 0 0px;
    }
    .main-about-card__body{
        height: 8.5rem;
    }
    .img-icono__bg {
        width: 99%;
    }
    .main-details__video--icono img {
        margin-top: -30px;
    }
    .main-details__video--icono--home img{
        margin-top: 0;
    }
    .mask-images-text{
        bottom: -85px;
    }
    .main-proyectos__grid--img:hover .main-proyecto__category{
        right: 25px;
    }

    .main-banner__palabra--project{
        top: 180px;
        right: -150px !important;
    }

    .main-banner__palabra.main-banner__palabra--project  p:nth-child(2){
        right: -10px !important;
        letter-spacing: 20px!important;
    }
    .main-projects {
        padding-top: 60px;
    }

    .main-banner__img2 {
        width: 100%;
        height: 53vh;
    }
    .main-details__video--content{
        grid-gap: 60px;
    }
    .main-video__details{
        margin: 0 5px;
    }
    .quare-text p {
        margin-bottom: -5px;
    }
    .quare-text{
        height: 90px;
    }
    .title-nivel2--line-initial.title-nivel2--line-initial--projects strong::before {
        left: -10px;
        width: 14rem;
    }
    .main-contactform__box h2 {

        font-size: 23px;
        letter-spacing: 1px;
    }
    #frm_form_4_container input{
        margin-bottom: -10px !important;
    }
    #frm_form_4_container .frm_checkbox{
        margin: 5px 0 20px 0 !important;
    }

    #frm_form_4_container .frm_checkbox .main-contactform__textlink {
        margin-top: -10px;
    }

    .main-experiencia__text {
        padding-top: 25px;
    }
    .main-testimonios__content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .two-form--services form{
        padding: 0px 20px 0px 25px;
    }
    .text-trans{
        padding: 15px 40px !important;
    }
    .details-planos__text {
        font-size: 15px;
    }
    .main-details__projects--avance{
        padding-bottom: 120px;
        padding-top: 50px;
    }
    #frm_checkbox_33-0 .main-contactform__textlink{
        margin-top: -10px !important;
    }
    .main-details__projects--zona,.main-details__galeria{
        padding-top: 50px;
    }
    .main-details__projects{
        padding-top: 50px;
    }
    .main-banner__img2 {
        width: 100%;
        height: 55vh;
    }
    .slick-next:after, .slick-prev:after {
        top: 50%;
    }
}