@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
		url('../fonts/Oswald-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
		url('../fonts/Oswald-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
		url('../fonts/Oswald-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-ExtraLight.woff2') format('woff2'),
		url('../fonts/Oswald-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Light.woff2') format('woff2'),
		url('../fonts/Oswald-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
		url('../fonts/Oswald-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-BoldOblique.woff2') format('woff2'),
		url('Helvetica-BoldOblique.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica.woff2') format('woff2'),
		url('Helvetica.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-Oblique.woff2') format('woff2'),
		url('Helvetica-Oblique.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
		url('Helvetica-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-Light.woff2') format('woff2'),
		url('Helvetica-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaRounded-Bold.woff2') format('woff2'),
		url('HelveticaRounded-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-Compressed.woff2') format('woff2'),
		url('Helvetica-Compressed.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}




::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #9E9E9E;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden !important;
}

section {
	padding: 100px 0;
}

.main-general__description {
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.55px;
	font-family: 'Helvetica';
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 0.55px;
}



button:focus {
	outline: none;
}

.btn_custom {
	display: inline-block;
	width: auto;
	margin: 0;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0;
	font-weight: 600;
	outline: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
	-o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
	transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
	padding: 13px 50px;
	cursor: pointer;

}

.btn--small {
	padding: 8px 12px;
	min-width: 65px;
	font-size: 12px;
}

.btn--medium {
	padding: 0px;
	min-width: 85px;
	font-size: 14px;
}

.btn--large {
	padding: 8px 100px;
	min-width: 105px;
	font-size: 18px;
}

.btn--filled {
	color: black !important;
	background-color: #fff;
	border: 1px solid transparent;
	transition: 0.3s ease-in-out;
	text-decoration: none;
}

.btn--transp {
	background: transparent;
	border: 1px solid #fff;
	font-weight: bold !important;
	color: #fff;

}

.btn--filled2 {
	background-color: #d71f26;
	color: white;
	padding: 10px 35px;
	border: 1px solid #d71f26;

	font-size: 18px;
	font-family: Helvetica;
}

.btn--filled2:hover {
	background-color: white;
	color: #d71f26;
	text-decoration: none;
	border: 1px solid #d71f26;
}


.btn--filled:hover {
	text-decoration: none;
	background-color: #fff;
	color: #d71f26 !important;

	transition: 0.3s ease-in-out;
}

/*HOME*/

.nav-link {
	color: #fff;
	transition: .3s ease-in-out;
	font-weight: 600;
	font-size: 16px;
	text-transform: capitalize;
	/* font-family: "Century Gothic", sans-serif; */
}

.main-logo__collapse {
	margin-bottom: 30px;
}

.nav-item {
	border-top: 1px solid #fff;
	padding-bottom: 0px;
	padding-top: 13px;
}

.nav-item:first-child {
	border-top: 2px solid #fff;
}

.nav-item:last-child {
	border-bottom: 2px solid #fff;
}

.is-active {
	background: transparent;
}


.main-banner {
	position: relative;
	overflow: hidden;
}

.main-banner__angle-down {
	bottom: 5%;
	transition: 0.3s ease-in-out;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 9;
}

.main-banner__angle-down:hover {
	text-decoration: none;
}

.main-banner__angle-down p {
	font-family: Oswald;
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2.7px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.main-banner .main-banner__item {
	position: relative;
}

.main-banner .mask {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.76);
}

.main-banner .mask .main-banner__boxtext {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}

.main-banner .mask .main-banner__text {
	width: 100%;



}

.main-banner .main-banner__img {
	width: 100%;
	height: 100vh;
}

.main-banner .main-banner__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.banner {
	padding-bottom: 100px;
}

.fondo img {
	width: 100%;
	height: 500px;
}

.navbar {
	position: absolute;
	text-align: right;
	width: 100%;
	padding: 25px 20px;
	margin-right: 50px;
	border-bottom: 3px solid #9b9b9b30;
}

.navbar a {

	color: white;
}

.main-banner .mask .main-banner__text .main-banner__title p {
	font-size: 65px;
	color: white;
	font-weight: 450;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	line-height: 1.17;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.letra-color {
	color: #d71f26;
}

.main-banner .mask .main-banner__palabra p {

	color: #9b9b9b00;
	font-size: 180px;
	font-weight: bold;
	letter-spacing: 20px;
	-webkit-text-stroke: 0.7px #9b9b9b;


}

.main-banner__palabra {
	position: absolute;
	top: 70px;
	right: 55px;
}



.main-brand {
	display: flex;
}

.main-welcome {
	padding-bottom: 50px;
	padding-top: 50px;
	background-image: url(../img/image_22.png);
}

.main-title__welcome {
	display: flex;
	justify-content: center;
}

.title-welcome {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 0rem;
	letter-spacing: 10px;
}

.main-about__buttom a {
	text-decoration: underline;
}

.main-about {
	padding-top: 0;
	position: relative;
}

.title-nivel {
	color: white;
	font-weight: 800;
	margin-bottom: 25px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	letter-spacing: 1px;
}

.palabra-nivel {
	font-weight: 300;
}

.main-about__title {
	/* padding-bottom: 30px; */
	padding-top: 100px;
}

.main-about__card {
	height: 28rem;
	display: flex;
	overflow: hidden;
	position: relative;
	flex-direction: column-reverse;
}

.slick-slide:nth-child(2n+1) .main-about-card__body {
	top: 0;
	bottom: initial;
}

.main-about-card__body {
	background-color: white;
	height: 8rem;
	padding: 35px 0;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 1;
	transition: all 500ms ease;
	bottom: 0;
	opacity: 1;
	visibility: visible;
}

.img-about2 {
	width: 100%;
	max-height: 444px;

}

.img-about {
	width: 100%;
	transition: all 1500ms ease;
	height: 100%;
	opacity: 0.2;
	object-fit: cover;
	transform-style: preserve-3d;

}

.about-card__title {
	color: black;
	position: relative;
	margin-bottom: 5px;
	font-family: 'Oswald';
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.83px;

}

.about-card__title::before {
	position: absolute;
	content: '';
	width: 38px;
	border: 1px solid red;
	left: -50px;
	bottom: 14px;
}

.main-about__bg {
	overflow: hidden;
	background: #222222;
	padding: 190px;
	position: absolute;
	width: 100%;
	z-index: -1;

}


.main-about__img {
	height: 100%;
}

.main-about__img--mask {
	position: absolute;
	background-color: #000000;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-about__bg--icono {
	position: absolute;
	top: 91px;
	left: 84px;
}

.img-icono__bg {
	width: 96%;
}

.main-about__bg--icono2 {
	position: absolute;
	top: 0;
}

.img-icono__bg2 {
	width: 100%;
}

.main-about__icono--title {
	text-align: center;
	padding-top: 15px;
	opacity: 1;
	overflow: visible;
	transition: all 500ms ease;

}


.main-about__icono--text {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
}

.about-title__icono {
	color: white;
	margin-bottom: 1rem;
	font-size: 20px;
	transition: all 500ms ease;

}

.about-title__icono:hover {
	text-decoration: none;
	transition: all 500ms ease;

	color: #d71f26;
}

.about-text__icono {
	color: white;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.55px;
	width: 50%;


}

/* Nuevo */
.main-about-carousel {
	box-shadow: 0 0 14px rgba(34, 34, 34, 0.20);
}

.main-about-carousel .slick-slide {
	height: 28rem;
}

.main-about__icono--title {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	flex-direction: column;
	height: 100%;
	line-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 130px 15px 100px 15px;
	opacity: 0;
	/* -webkit-transform: scale(0); */
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transition: all 500ms ease;
}

.main-about__card:hover .main-about__icono--title {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 1;

	-o-transform: scale(1);
	transform: scale(1);
}

.main-about__card:hover .main-about__icono,
.main-about__card:hover .main-about-card__body {
	opacity: 0;
	transition: all 500ms ease;
	visibility: hidden;
}

.main-about__card:hover .img-about {
	transform: scale(1.3);

	/* opacity: 0.4; */
	transition: all 1500ms ease;
}

.icono-mask {
	margin-bottom: 1rem;
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}

.main-about__icono {
	margin-top: 4rem;
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}

.main-nosotros__carousel .slick-prev,
.main-nosotros__carousel .slick-next,
.main-details__slick--content .slick-next,
.main-about-carousel .slick-next,
.main-about-carousel .slick-prev,
.main-details__slick--content .slick-prev {
	width: 60px !important;
	height: 50px !important;
	position: absolute;
	display: inline-block;
	background: transparent !important;
	top: initial;
	bottom: -60px !important;
	cursor: pointer;
	transition: all 500ms ease;
	transform: translateX(-50%);
	z-index: 1;
}


.main-about-carousel .slick-next {
	left: 48% !important;
}

.main-about-carousel .slick-next:hover {
	left: 50% !important;
}

.main-about-carousel .slick-prev {
	left: 45% !important;
}

.main-about-carousel .slick-prev:hover {
	left: 42% !important;
}


.main-nosotros__carousel .slick-next:before,
.main-about-carousel .slick-next:before,
.main-details__slick--content .slick-next:before {
	left: auto;
	content: '';
	position: absolute;
	top: 17px;
	right: 5px;
	border-top: 2px solid #222222;
	border-right: 2px solid #222222;
}

.main-nosotros__carousel .slick-prev:before,
.main-about-carousel .slick-prev:before,
.main-details__slick--content .slick-prev:before {

	left: auto !important;
	content: '';
	position: absolute;
	top: 17px;
	left: 5px !important;

	border-bottom: 2px solid #222222;
	border-left: 2px solid #222222;
	right: 6px;

}


.slick-prev:hover:after {
	-webkit-transform: translateY(-50%) scaleX(1);
	-ms-transform: translateY(-50%) scaleX(1);
	transform: translateY(-50%) scaleX(1);
}



.main-nosotros__carousel .slick-next:before,
.main-nosotros__carousel .slick-prev:before,

.main-about-carousel .slick-prev:before,
.main-details__slick--content .slick-prev:before,
.main-details__slick--content .slick-next:before,
.main-about-carousel .slick-next:before {
	content: "";
	width: 16px;
	height: 16px;
	opacity: 1 !important;

	-webkit-transform: rotate(45deg) !important;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg) !important;
	-webkit-transition: .7s cubic-bezier(.2, .96, .34, 1) !important;
	-o-transition: .7s cubic-bezier(.2, .96, .34, 1);
	transition: .7s cubic-bezier(.2, .96, .34, 1) !important;
}


.main-nosotros__carousel .slick-prev:hover:before,
.main-details__slick--content .slick-prev:hover:before,
.main-about-carousel .slick-prev:hover:before {
	border-bottom: 2px solid #d71f26;
	border-left: 2px solid #d71f26;
}

.main-details__slick--content .slick-prev {
	left: 2rem;
}

.main-details__slick--content .slick-next {
	left: 4rem;
}

.main-nosotros__carousel .slick-next:hover:before,

.main-about-carousel .slick-next:hover:before,
.main-details__slick--content .slick-next:hover:before {
	border-top: 2px solid #d71f26;
	border-right: 2px solid #d71f26;
}


.slick-next:after,
.slick-prev:after {
	content: '';
	position: absolute;
	width: 35px;
	height: 2px;
	top: 50%;
	-webkit-transform: translateY(-50%) scaleX(0);
	-ms-transform: translateY(-50%) scaleX(0);
	transform: translateY(-50%) scaleX(0);
	background: #d71f26;
	-webkit-transition: .7s cubic-bezier(.2, .96, .34, 1);
	-o-transition: .7s cubic-bezier(.2, .96, .34, 1);
	transition: .7s cubic-bezier(.2, .96, .34, 1);
}



.slick-prev:after {
	left: 2px;
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
}


.slick-next:after {
	right: 2px;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
}


.slick-next:hover:after {
	-webkit-transform: translateY(-50%) scaleX(1);
	-ms-transform: translateY(-50%) scaleX(1);
	transform: translateY(-50%) scaleX(1);
}


.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 1 !important;
}

.main-about__counter {
	opacity: 0.68;
	-webkit-text-stroke: 0.5px #979797;
	font-family: Oswald;
	font-size: 48px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2px;
	color: rgba(0, 0, 0, 0.01);
	position: absolute;
	top: 0;
	right: 12px;
}

.title-nivel2--line {
	color: black;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 25px;

}

.title-nivel2--line strong {
	position: relative;
	z-index: 1;
}

.title-nivel2--line-center {
	position: relative;
	z-index: 1;
}

.title-nivel2--line-center::before {
	content: "";
	background-image: url(../img/image_15.png);
	height: 1.4rem;
	position: absolute;
	background-repeat: no-repeat;
	bottom: 0;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
	width: 11rem;
	background-size: contain;
}


.title-nivel2--line-initial strong::before {
	content: "";
	background-image: url(../img/image_15.png);
	height: 1.4rem;
	position: absolute;
	background-repeat: no-repeat;
	bottom: 0;
	z-index: -1;
	left: 0;
	width: 11rem;
	background-size: contain;
}

/* fin nuevo */

.main-video__title {
	display: flex;
	justify-content: center;
}

.main-video {
	/* padding-top: 200px; */
	position: relative;
}

.img-video {
	width: 100%;
	max-height: 450px;

}

.main-video__img {
	display: flex;
	justify-content: center;
}

.main-video__items {
	display: flex !important;
	justify-content: center;
}

.main-video__content .slick-next,
.main-video__content .slick-prev {
	width: 60px !important;
	height: 50px !important;
	position: absolute;
	display: inline-block;
	background: transparent !important;
	top: initial;
	bottom: 230px !important;
	cursor: pointer;
	transition: all 500ms ease;
	transform: translateX(-50%);
	z-index: 1;
}


.main-video__content .slick-next {
	left: 100% !important;
}

.main-video__content .slick-next:hover {
	left: 99% !important;
}

.main-video__content .slick-prev {
	right: 95% !important;
}

.main-video__content .slick-prev:hover {
	right: 94% !important;
}



.main-video__content .slick-next:before {
	left: auto;
	content: '';
	position: absolute;
	top: 17px;
	right: 5px;
	border-top: 2px solid #222222;
	border-right: 2px solid #222222;
}

.main-video__content .slick-prev:before {

	left: auto !important;
	content: '';
	position: absolute;
	top: 17px;
	left: 5px !important;

	border-bottom: 2px solid #222222;
	border-left: 2px solid #222222;
	right: 6px;

}

.main-video__content .slick-prev:before,
.main-video__content .slick-next:before {
	content: "";
	width: 16px;
	height: 16px;
	opacity: 1 !important;

	-webkit-transform: rotate(45deg) !important;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg) !important;
	-webkit-transition: .7s cubic-bezier(.2, .96, .34, 1) !important;
	-o-transition: .7s cubic-bezier(.2, .96, .34, 1);
	transition: .7s cubic-bezier(.2, .96, .34, 1) !important;
}



.main-video__content .slick-prev:hover:before {
	border-bottom: 2px solid #d71f26;
	border-left: 2px solid #d71f26;
}

.main-video__content .slick-next:hover:before {
	border-top: 2px solid #d71f26;
	border-right: 2px solid #d71f26;
}

.mask {
	position: absolute;
	background-color: #0000007d;
	width: 100%;
	z-index: 1;
	height: 100%;
}

.main-video__img {
	position: relative;
}

.main-video__bg {


	width: 100%;
	position: relative;


}

.main-video__bg--color {
	background-color: #212121;
	height: 100%;
	z-index: -2;
	bottom: -152px;
	width: 100%;
	position: absolute;
	height: 23rem;
}

.video-bg__text {
	color: #212121;
	font-size: 21px;
	text-align: right;
	background-color: white;
	margin-bottom: 0rem;
	padding: 15px 0;
	padding-left: 80px;
	padding-right: 20px;

	letter-spacing: 10px;
	position: absolute;
	bottom: -60px;
	right: 235px;
	line-height: 37px;
	font-family: 'Oswald';
	font-size: 21px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.81;
	letter-spacing: 10px;
}

.main-video__bg--text {
	border: 2px solid white;
	width: 36%;
	padding: 95px 0px;
	padding-left: 40px;
	padding-right: 90px;
	position: absolute;
	bottom: -115px;
	z-index: -1;
	right: 135px;
}

.main-video__text--content {
	display: flex;
	justify-content: flex-end;
}

.mask-video2 {
	position: absolute;
	left: 0px;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.76);
	display: flex;

	padding: 30px;
}

.nivel-small {
	font-size: 100%;
	color: #3b0006;
	font-weight: 500;
	letter-spacing: 0.48px;
}

.main-nivel__small {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}

.main-nivel__small.main-nivel__small--start {
	justify-content: flex-start;
}

.main-nivel__small.main-nivel__small--start small {
	font-size: 14px;
}

.main-proyectos {
	padding-top: 150px;
	/* padding-bottom: 0px; */
}



.main-nivel__title {
	display: flex;
	justify-content: center;
}

.main-nivel__title h1 {
	text-transform: uppercase;
}

.main-nivel__title.main-nivel__title--column {
	flex-direction: column;
}

.main-nivel__title.main-nivel__title--column .title-nivel2--line-center::before {
	content: "";
	background-image: url(../img/image_15.png);
	width: 15rem;
	height: 1.4rem;
	position: absolute;
	background-repeat: no-repeat;
	bottom: 0;
	z-index: -1;
	left: 35%;
	transform: translateX(-50%);
}

/*.title-nivel2--line::before{
	content: '';
	position: absolute;
	background-image: url(../img/image_15.png);
	width: 100%;
	height: 100%;
	z-index: -1;
	background-repeat: no-repeat;

}
*/

.proyectos-text {
	width: 41%;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	letter-spacing: 0.55px;

}


.main-proyectos__text {
	display: flex;
	/* padding-top: 20px; */
	justify-content: center;
}

.main-projects__tabs ul {
	justify-content: flex-start;
}

.main-projects__tabs .tab-content {
	margin-top: 2rem;
}

.nav-link__tabs {
	color: #8a9997;
	transition: .3s ease-in-out;
	text-transform: capitalize;
	margin-right: 45px;
	/* padding: 16px 5px; */
	font-family: 'Oswald';
	font-size: 15px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.52px
}

.main-projects__img {
	position: relative;
	overflow: hidden;
}


.main-proyecto_text {
	opacity: 0;
	/* -webkit-transform: scale(0); */
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transition: all 500ms ease;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



.main-proyecto_text p {
	color: #fff;
	font-weight: 600;
	text-align: center;
	font-size: 2rem;
	letter-spacing: 0.83;
}

.main-projects__img:hover .main-proyecto_text {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 1;
	-o-transform: scale(1);
	transform: scale(1);
	padding: 1rem;
}

.main-projects__img .mask {
	opacity: 0;
	z-index: 0;
}

.img-projects {
	width: 100%;
}

.main-projects__img:hover .mask {
	opacity: 1;
}

.nav-link__tabs:hover {
	color: #d71f26;
	text-decoration: none;
}

.nav-pills .nav-link__tabs.active {
	color: #360714;
	border-bottom: 2px solid #360714;
	/* font-weight: 600; */
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	padding-top: 40px;
	justify-content: center;
}




.main-proyectos__items {
	display: grid !important;
	grid-template-columns: 535px 1fr;
	padding-top: 100px;
}

.main-proyectos__img {
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
}


.line {
	top: 25px;
	left: 25px;
}

.line {
	position: absolute;

	z-index: 999;
	width: -webkit-calc(50% - 20px);
	width: -moz-calc(50% - 20px);
	width: calc(50% - 20px);
	height: -webkit-calc(50% - 20px);
	height: -moz-calc(50% - 20px);
	height: calc(50% - 20px);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}


.line:before {
	height: 1px;
	width: 0;
	content: '';
	background: #fff;
	display: block;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.line:after {
	height: 0;
	width: 1px;
	content: '';
	background: #fff;
	display: block;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.main-projects__img:hover .line:before,
.main-experiencia__img:hover .line:before,
.main-proyectos__img:hover .line:before,
.main-proyectos__img:hover .line:before {
	width: 100%;
}

.main-projects__img:hover .line:after,
.main-experiencia__img:hover .line:after,
.main-proyectos__img:hover .line:after,
.main-proyectos__img:hover .line:after {
	height: 100%;
}

.main-projects__img .line-bottom,
.main-proyectos__img .line-bottom,
.main-experiencia__img .line-bottom {
	top: auto;
	left: auto;
	bottom: 25px;
	right: 25px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}


.main-proyectos__img--hidden {
	position: relative;
	width: 68%;
	overflow: hidden;
}


.main-proyectos__img:hover .img-proyectos,
.main-experiencia__img:hover img {
	transition: all 500ms ease;
	transform: scale(1.3);
}

.img-proyectos {
	width: 100%;
	transition: all 500ms ease;
	height: 450px;
	object-fit: contain;
	overflow: hidden;

}

.linea-tabs {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 2px solid rgba(0, 0, 0, .1);
}

.title-card__proyectos {
	font-size: 35px;
	font-family: Helvetica;
	margin-bottom: 0rem;

}

.text-card__proyectos {
	font-size: 16px;
	font-family: Helvetica;

}

.main-proyectos__card {
	align-self: flex-end;
	padding-left: 25px;
}

.main-card__proyectos--title {
	padding: 30px 0;
}

/* .main-proyectos__grid--content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
} */

.main-proyectos__grid {
	padding-top: 0px;

}

.img-proyectos__grid {
	width: 100%;
	height: 70vh;
	transition: all 500ms ease;
}

.main-card__proyectos--text {
	width: 63%;
}

strong {
	font-weight: 800;
}

.proyectos-mask {
	position: absolute;
	background-color: #00000000;
	width: 100%;
	z-index: 1;
	transition: all 500ms ease;

	height: 100%;
}

.main-proyecto__rotate {
	font-size: 22px;
	color: white;
	transform: rotate(270deg);
	left: -100%;
	bottom: 85px;
	transition: all 500ms ease;
	position: absolute;
	opacity: 0;
}

.main-proyecto__category {
	opacity: 0;
	transition: all 500ms ease;

	position: absolute;
	right: -100%;
	bottom: 25px;
	color: #fff;
}

.main-proyectos__grid--img:hover .img-proyectos__grid {
	transition: all 500ms ease;

	transform: scale(1.3);

	/* opacity: 0.4; */
	/* transition: all 1500ms ease; */
}

.main-proyectos__grid--img:hover .main-proyecto__category {
	opacity: 1;
	transition: all 500ms ease;

	right: 20px;
}


.main-proyectos__grid--img:hover .main-proyecto__rotate {
	opacity: 1;
	left: -25px;
	transition: all 500ms ease;
}


.proyectos-mask:hover {
	background-color: #0000007d;
	/* transform: scale(1.3); */
}

.main-proyectos__content .slick-next,
.main-proyectos__content .slick-prev {
	width: 60px !important;
	height: 50px !important;
	position: absolute;
	display: inline-block;
	background: transparent !important;
	top: initial;
	bottom: 230px !important;
	cursor: pointer;
	transition: all 500ms ease;
	transform: translateX(-50%);
	z-index: 1;
}


.main-proyectos__content .slick-next {
	left: 100% !important;
}

.main-proyectos__content .slick-next:hover {
	left: 99% !important;
}

.main-proyectos__content .slick-prev {
	right: 95% !important;
}

.main-proyectos__content .slick-prev:hover {
	right: 94% !important;
}



.main-proyectos__content .slick-next:before {
	left: auto;
	content: '';
	position: absolute;
	top: 17px;
	right: 5px;
	border-top: 2px solid #222222;
	border-right: 2px solid #222222;
}

.main-proyectos__content .slick-prev:before {

	left: auto !important;
	content: '';
	position: absolute;
	top: 17px;
	left: 5px !important;

	border-bottom: 2px solid #222222;
	border-left: 2px solid #222222;
	right: 6px;

}

.main-proyectos__content .slick-prev:before,
.main-proyectos__content .slick-next:before {
	content: "";
	width: 16px;
	height: 16px;
	opacity: 1 !important;
	-webkit-transform: rotate(45deg) !important;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg) !important;
	-webkit-transition: .7s cubic-bezier(.2, .96, .34, 1) !important;
	-o-transition: .7s cubic-bezier(.2, .96, .34, 1);
	transition: .7s cubic-bezier(.2, .96, .34, 1) !important;
}



.main-proyectos__content .slick-prev:hover:before {
	border-bottom: 2px solid #d71f26;
	border-left: 2px solid #d71f26;
}

.main-proyectos__content .slick-next:hover:before {
	border-top: 2px solid #d71f26;
	border-right: 2px solid #d71f26;
}

.main-proyectos__grid--img {
	position: relative;
	overflow: hidden;
}

.proyecto-icono {
	width: 60%;
}

.main-proyecto__icono {
	position: absolute;
	right: 0;
	transition: all 500ms ease;
	top: -100%;

}

.main-projects__img:hover .main-proyecto__icono,
.main-proyectos__grid--img:hover .main-proyecto__icono {
	transition: all 500ms ease;
	z-index: 1;
	top: 15px;

}

.text-proyecto__mask {
	font-size: 22px;
	color: white;
}

.main-proyecto__text--mask {
	position: absolute;
	bottom: 0;
	right: 20px;
}

.main-proyecto__text--mask2 {
	position: absolute;
	bottom: 0;
}

.btn--filled--proyectos {
	color: #d71f26;
	font-size: 20px;
	font-weight: 500;
	text-decoration: underline;
	font-family: 'Oswald';
}

.btn--filled--proyectos:hover {
	color: black;
	text-decoration: none;
}

.main-proyectos__grid--buttom {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.main-blog__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* padding-top: 50px; */
}

.main-blog__img {
	overflow: hidden;
	transition: all 500ms ease;
}

.main-blog__img:hover .img-blog {
	transform: scale(1.3);
	transition: all 500ms ease;
	opacity: 0.4;
}


.img-blog {
	transition: all 500ms ease;

	width: 100%;
}

.main-blog__card {
	margin: 0 10px;
}


.main-title__blog {
	display: grid;
	grid-template-columns: 150px 1fr;
}

.main-fecha__img {
	padding-right: 10px;
}

.main-blog__fecha {
	display: flex;
}

.main-blog__categoria {
	display: flex;
}

.main-categoria__text {
	display: flex;
}

.list-categoria {
	padding-left: 30px;
}

.main-blog__card {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.main-blog__card.main-blog__card--single {
	box-shadow: none !important;
}

.text-blog {
	margin-bottom: 0rem;
	color: #000;
	font-size: 19px;
	font-style: italic;
	transition: all 500ms ease;
}


.text-blog:hover {
	color: #d71f26;
	transition: all 500ms ease;
	text-decoration: none;

}

.main-blog__body {
	padding: 30px;
}

.text-fecha {
	margin-bottom: 0rem;
	font-size: 14px;
	color: #a4b3c1;
	font-family: 'Oswald';
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.48px;

}

.items-categoria {
	font-size: 15px;
	color: #a4b3c1;
}

.container-contacto {
	width: 100%;
	height: 65%;
	display: grid;
	grid-template-columns: 310px 1fr;
	padding-top: 30px;
	grid-gap: 40px;
}

.barra-formulario {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

.formulario {
	display: grid;
	grid-template-columns: 255px 1fr;
	grid-gap: 25px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"] {
	width: 100%;
	border-radius: 0px;
	padding: 12px 10px;
	border: none;
	margin: 0px 0;
	font-family: 'Helvetica';
	font-weight: 300;

	background-color: white;
	color: #8a9997;
}

textarea {
	width: 80% !important;
	border-radius: 0px ! important;
	padding: 15px 10px;
	border: none;
	margin: 0px 0;
	font-family: Helvetica;
	height: 150px !important;
	resize: none;
	color: #8a9997 !important;
	border: 1px solid transparent !important;
	background-color: white !important;
	background-clip: inherit !important;
	height: 113px !important;
	font-family: 'Helvetica';
	font-weight: 300;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder {
	font-family: Helvetica;
	font-size: 15px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.52px;
	color: #8a9997;
}


.main-contacto {
	background-color: #d71f26;
	padding: 20px 0;
}

.main-contacto__text {

	align-self: center;
}

.text-contacto {
	color: white;
	font-family: 'Oswald';
	font-weight: bold;
	font-size: 24px;
}

.text-contacto2 {
	color: white;
	font-size: 20px;
	font-weight: 200;
}

.btn--form {
	color: white;
	background-color: #d71f26;
	border: 1px solid white;
}

.contenedor-boton {
	padding-top: 25px;
}

.main-blog {
	/* padding-top: 0; */
	padding-bottom: 80px;
}

.main-enlaces {
	background-image: url(../img/image.png);
}

.main-enlaces__content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* padding-top: 80px; */
	grid-gap: 80px;
	/* padding-bottom: 80px; */
}

.main-enlaces__redes {
	display: flex;
}

.main-instagram__content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;

}

.img-instagram {
	width: 100%;
}

.list-menu {
	padding-left: 0px;
	list-style-type: none;
	line-height: 38px;

}

.enlaces-nivel__text {
	color: white;
	margin-bottom: 0rem;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: 300;
}

.main-enlaces__nivel--text {
	padding-top: 35px;
}

.main-enlaces__redes {
	padding-top: 35px;
}

.main-redes__instagram {
	padding-left: 25px;
}

.enlaces-title {
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.56px;
	color: #ffffff;
}



.link-enlaces {
	color: #fff;
	font-size: 15px;
	font-family: Helvetica;
	font-weight: 300;

}

.link-enlaces:hover {
	color: white;
	text-decoration: none;
}

.main-enlaces__nivel {
	padding-top: 30px;
}

.list-title {
	color: white;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 0rem;
	font-family: Helvetica;
}

.list-direccion {
	padding-left: 0px;
	list-style-type: none;
}

.end-text {
	margin-bottom: 0rem;
	color: white;
	font-family: 'Lato';
	font-size: 15px;
}

.main-end__text {
	background: black;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.main-icono__footer {
	position: fixed;
	bottom: -10px;
	right: 5px;
}

/*HOME*/

/*PROYECTOS*/


.projects-logo {
	width: 100%;
}




.main-projects__body {
	display: flex;
	padding-top: 10px;
}

.main-projects__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 35px;
}

.projects-title {
	margin-bottom: 0rem;
	font-family: 'Oswald';
	font-size: 28px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.97px;
}

.projects-text {
	font-size: 14px;
	font-family: 'Oswald';
	font-weight: normal;
	font-stretch: normal;
	font-style: italic;
	line-height: normal;
	letter-spacing: 0.59px;
	color: #360714;
}

.main-projects__text {
	padding-top: 5px;
}

.main-projects__logo {
	padding-right: 10px;
}

/*PROYECTOS*/


/*DETALLE-PROYECTO*/

.main-banner__img2 {
	width: 100%;
	height: 65vh;
}

.main-details__video {
	/* padding-bottom: 0; */
}

.main-details__video--content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 65px;
}

.main-video__details {
	position: relative;
}

.main-details__video {
	/* padding-top: 50px;
	padding-bottom: 80px; */
}

.img-video__details {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.details-video__text {
	font-family: 'Helvetica';
	font-size: 15px;
	font-weight: 300 !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: 0.55px;
	color: #000000;
}

.details-video__title {
	margin-bottom: 0rem;
	font-family: Oswald;
	font-size: 15px;
	font-weight: 600;
	color: #360714;
}

.main-details__video--title {
	padding-top: 30px;
}

.main-details__video--text {
	padding-top: 15px;
}

.main-details__video--buttom {
	padding-top: 27px;
}

.mask-video {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.76);
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-icono {
	width: 85%;
}

.main-video__details--etiqueta {
	background: black;

	padding: 7px 25px;

}

.details-video__etiqueta {
	color: white;
	margin-bottom: 0rem;
	font-size: 15px;
}

.main-video__details--etiqueta h2 {
	color: white;
	margin-bottom: 0rem;
}

.main-details__projects {
	background-color: #fbfbfb;
}

.main-details__projects--content {
	display: grid;
	grid-template-columns: 35% 65%;

}


.main-details__slick--content .slick-list {
	padding-left: 0 !important;
}

.main-details__slick--content .slick-slide {
	margin-right: 2rem;
}

/* .main-details__slick--img {
	margin-right: 3rem;
} */

.details-slick__img {
	width: 100%;
}

.main-details__descripcion {
	margin-left: 8rem;
}

.main-details__icono {
	display: flex;
	padding-top: 15px;
}

.main-details__icono--text {
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.text-icono__projects {
	margin-bottom: 0rem;
	font-family: 'Helvetica';
	font-size: 14px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.69;
	letter-spacing: 0.35px
}

.text-icono__projects2 {
	margin-bottom: 0rem;
	font-size: 14px;
	font-weight: 800;
	font-family: 'Helvetica';
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 0.55px;
}

.main-details__icono--content2 {
	padding-top: 50px;
}

.main-details__planos--items {
	display: flex !important;
}

.main-details__projects--planos {
	/* padding-top: 80px; */
	background-color: #fbfbfb;
	/* padding-bottom: 80px; */
}

.main-details__projects--planos .slick-dots li button:before {
	position: absolute;
	top: 0;
	left: -225px;
	content: "•";
	width: 30px;
	height: 30px;
	font-family: "slick";
	font-size: 55px;
	line-height: 20px;
	text-align: center;
	color: black;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-details__projects--planos .slick-dots li.slick-active button:before {
	color: red;
	opacity: 3.75;
}

.main-details__projects--planos .slick-dots {
	position: absolute;
	bottom: -30px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

.details-planos__text {
	font-size: 15px;
	font-family: 'Helvetica';
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 0.55px;
}

.main-details__planos-text {
	align-self: center;
}

.main-details__planos--img {
	padding-right: 60px;
}

.main-details__projects--zona .main-details__descripcion {

	margin-right: 5rem;
}

.main-details__descripcion {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.main-details__projects--avance,
.main-details__projects--zona {
	padding-top: 0;
	padding-bottom: 0;
}

.main-details__projects--avance .main-details__projects--content {
	grid-template-columns: 45% 55%;
}

.main-details__projects--avance .main-details__descripcion {
	padding-right: 3rem;
}

.main-details__projects--avance .main-details__projects--slick {
	padding-left: 5rem;
}

.main-details__galeria {
	background-color: #fbfbfb;
}

.main-details__galeria--title {
	display: flex;
	justify-content: center;
	/* padding-bottom: 30px; */
}

.details-galeria__img {
	width: 100%;

}

.main-details__galeria--img {
	margin: 0 10px;
}


.main-details__galeria .slick-dots li button:before,
.main-details__avance .slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 30px;
	height: 30px;
	font-family: "slick";
	font-size: 55px;
	line-height: 20px;
	text-align: center;
	color: black;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-details__galeria .slick-dots li.slick-active button:before,
.main-details__avance .slick-dots li.slick-active button:before {
	color: red;
	opacity: 3.75;
}



.main-details__galeria .slick-dots,
.main-details__avance .slick-dots {
	position: absolute;
	bottom: -30px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}



.main-details__ubicacion--img {
	position: relative;
}

.main-details__ubicacion {
	padding-top: 0;
	padding-bottom: 0;
}


.main-details__ubicacion--content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main-icono__ubicacion {
	position: absolute;
	left: 20px;
	top: 35px;
}

.img-icono__ubicacion {
	width: 100%;
}

.img-ubicacion {
	width: 100%;
}

.main-details__ubicacion--form .d-flex {
	justify-content: space-between;
}

.main-details__ubicacion--form .d-flex .form-group {
	width: 49%;
}

.main-details__ubicacion--form {
	background: #212121;
}

/*DETALLE-PROYECTO*/



/*ABOUT*/

.main-experiencia__content {
	display: grid;
	grid-template-columns: 36% 1fr;
	grid-gap: 80px;
}


.main-experiencia__title {
	position: absolute;
	bottom: -100%;
	color: #fff;
	z-index: 99;
	left: 37px;
	font-size: 36px;
	font-weight: 500;
	transition: all 500ms ease;

}

.main-experiencia__img:hover .main-experiencia__title {
	bottom: 0;
	transition: all 500ms ease;

}

.main-experiencia__img {
	position: relative;
	overflow: hidden;
	transition: all 500ms ease;
}

.main-experiencia {
	/* padding-top: 80px; */
	background-image: url(../img/image-paralax.png);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
}



.img-experiencia {
	width: 100%;
	height: 440px;

	transition: all 500ms ease;
	object-fit: cover;
}

.main-nosotros__content {
	display: grid;
	grid-template-columns: 30% 70%;
}

.main-nosotros__content--text {
	align-self: center;
	padding-right: 5rem;
}

.main-nosotros__carousel .slick-list {
	padding-left: 0 !important;
	height: 35rem;

}

.main-nosotros__title {
	width: 50%;
}

.main-nosotros__item {
	box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.2);
	/* background-color: #ffffff; */
	position: relative;
	transition: all 500ms ease;
	overflow: hidden;

	min-height: 30.5rem;
}


.main-nosotros__item:hover {
	min-height: 32.5rem;
	transition: all 500ms ease;
	overflow: hidden;
	transform: translateY(-15px);
}


.main-nosotros__text {
	font-family: 'Helvetica';
	margin-bottom: 1rem;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 0.55px;

}

.main-nosotros__line {
	height: 7px;
	width: 100%;
	z-index: -1;
	top: 0;
	background-color: #d8252c;
	position: absolute;
}

.main-nosotros__img img {
	width: 100%;
}

.main-nosotros__img {
	padding: 0 1rem;
}

.main-nosotros__carousel .slick-slide {
	margin-right: 2rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
	margin-left: 2px;
}

.main-nosotros__body {
	padding: 2rem;
	text-align: center;
}

.main-nosotros__body h2 {
	text-transform: uppercase;
	font-family: 'Oswald';
	font-size: 15px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 3px;
}

.main-nosotros__body p {
	font-family: 'Helvetica';
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 0.55px;
}

.main-nosotros__carousel .slick-prev {
	right: 2rem;

}

.main-nosotros__carousel .slick-prev,
.main-nosotros__carousel .slick-next {
	z-index: 1;

	bottom: -3rem !important;
	top: initial;
}

.main-nosotros__carousel .slick-next {

	right: 0;
}


.main-experiencia__text {
	/* padding-top: 40px; */
	font-family: 'Helvetica';
	font-weight: 300;

}

.main-testimonios {
	/* padding-top: 80px; */
	background-image: url(../img/bg-2.png);
	background-repeat: no-repeat;
	width: 100%;

}

.main-testimonios__content {
	/* display: grid;
	grid-template-columns: 1fr 1fr; */
	grid-gap: 40px;
	padding-top: 40px;
}

.main-testimonio__text {
	padding-right: 2rem;
}

.text-testimonio {
	font-family: 'Helvetica';
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 0.55px;

}

.main-testimonio__persona {
	display: flex;
}

.testimonio-persona__img {
	padding-right: 20px;
}

.descripcion-persona__nombre {
	margin-bottom: 0rem;
	font-family: 'Oswald';
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.69px;
	color: #000000;
}

.descripcion-persona__profesion {
	margin-bottom: 0rem;
	font-size: 14px;
	font-family: 'Oswald';
	font-size: 17px;
	font-weight: 300;
	letter-spacing: 0.59px;
}

.main-descripcion__persona {
	align-self: center;
}

.main-nosotros__video {
	padding-top: 0;
	padding-bottom: 0;
}

.main-nosotros__video--img {
	position: relative;
}

.nosotros-video__img {
	width: 100%;
}

.main-nosotros__icono--img {
	display: flex;
	justify-content: center;
}

.text-nosotros__mask {
	font-size: 36px;
	font-weight: 500;
	color: white;
	font-family: 'Oswald';
	letter-spacing: 1.24px;
}

.small-mask__nosotros {
	text-align: center;
	color: white;
	margin-bottom: 0rem;
	font-family: 'Oswald';
	font-weight: 300;
	letter-spacing: 0.59px;

}

.main-nosotros__grid--buttom {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.service-about__grid {
	display: grid;
	grid-template-columns: 28% 1fr;
}

.service-steps {
	padding-bottom: 0;
	padding-top: 0;
	position: relative;
}

.service-steps__title {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	margin-bottom: 2rem;
}

.service-steps__title img {
	width: 2rem;
	height: 2rem;
	object-fit: contain;
	margin-right: 10px;
}

.service-steps__title h2 {
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
}

.service-steps .main-general__description {
	margin-bottom: 0;
}

.service-steps__item a {
	color: #d71f26;
	font-family: 'Helvetica LT Std';
}

.service-steps__bg {
	position: absolute;
	background: #212121;
	width: 100%;
	height: 62%;
	z-index: -1;
	bottom: 0;

}

.service-steps__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-bottom: 3rem;
}

.service-steps__item {
	box-shadow: 0 3px 18px 4px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	padding: 2rem;
}

.service-form {
	display: flex;
	justify-content: center;
}

.service-form__container {
	background: #212121;
	width: 60%;
}

.service-form .nav-item {
	width: 100%;
	text-align: center;
	padding: 0;
	border: 1px solid #212121;
	justify-content: center;
	display: flex;
}

.service-form .nav-item a {
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-weight: bold;
	color: #212121;
	width: 100%;
	text-align: center;

}

.service-form .nav-item .active {
	color: #fff;
	background: #212121;
}

.service-form .nav-pills {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	background: #fff;
	padding-top: 0;
}

.service-form form {
	padding: 0 2rem;
}

.service-form .main-contactform__btnbox {
	margin-top: 0 !important;
}

.service-form form label {
	width: 100%;
	color: #fff;
	font-family: 'Helvetica LT Std';

	margin-bottom: 1rem;
}


.service-form form .form-group {
	margin-bottom: 0;
}


.service-form form input::placeholder {
	color: #8a9997;
}

.form-help a {
	text-decoration: none;
}

.form-help img {
	width: 1rem;
	margin-right: .5rem;
}

.invert-detail {
	background-image: url('../img/image-paralax.png');
	background-color: #fcfcfc;
	background-size: contain;
	background-repeat: no-repeat;
}

.invert-detail__grid {
	display: grid;
	padding-right: 3rem;
	padding-left: 3rem;
	gap: 2rem;
	grid-template-columns: repeat(2, 1fr);
}

.invert-detail__grid .main-proyectos__text:nth-child(1) {
	text-align: right;
}

.invert-steps {
	padding-top: 0;
}

.invert-steps__title--small {
	position: relative;
	letter-spacing: 12.9px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding-top: 4rem;

}

.invert-steps__title--small::before {
	content: "";
	position: absolute;
	background-image: url('../img/Invert/line@3.png');
	width: 15rem;
	background-size: contain;
	height: 7px;
	background-repeat: no-repeat;
	bottom: -1.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.invert-steps__title {
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: -9px;
}

.invert-steps__grid {
	display: flex;
	flex-direction: row-reverse;
	/* grid-template-columns: 45% 1fr; */
}

.invert-steps__item:nth-child(odd) .invert-steps__grid {
	flex-direction: row;

}

.invert-steps__item:nth-child(odd) {
	background-color: #fcfcfc;
}

.invert-steps__item {

	background: #fff;
}



.invert-steps__item:nth-child(odd) .invert-steps__text {
	padding-right: 11rem;
	padding-left: 0;
}

.invert-steps__item:nth-child(1) .invert-steps__title--small {
	padding-top: 0;
}


.invert-steps__width {
	margin-left: 11rem;

}

.invert-steps__item:nth-child(odd) .invert-steps__width {
	margin-left: 0;
}


.invert-steps__img img {
	width: 100%;
}

.invert-steps__text {
	padding-left: 11rem;
	width: 42%;

}

.invert-steps__img {
	width: 58%;
}

.invert-steps__text h2 {
	font-weight: bold;
	margin-bottom: 1rem;

}

.invert-form {
	padding-bottom: 0;
	padding-top: 0;
}

.invert-form__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}


.invert-form__info {
	background-image: url('../img/Invert/image.png');
	background-size: cover;
	position: relative;
	background-position: center;
	color: #fff;
}

.invert-form__info h2 {

	font-weight: 300;
}

.invert-form__info .mask {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding-left: 6rem;
	padding-bottom: 3rem;
}


.invert-form__info .btn--filled--trans {
	padding: 10px 24px;
}

.invert-form__input .d-flex {
	justify-content: space-between;
}

.invert-form__input .d-flex .form-group {
	width: 49%;
}